{# empty Twig template #}
{% extends '::base_frontoffice.html.twig' %}
{% form_theme searchEventForm 'bootstrap_3_layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('assets/css/EventBundle/generic-event.css') }}"/> 
    <link rel="stylesheet" href="{{ asset('assets/css/EventBundle/event-search.css') }}"/> 
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datetimepicker.css')}}" />
{% endblock %}

{% block smallMenu %}
    {{parent()}}
    <!-- BEGIN small screen menu -->
    <!-- END small screen menu -->
{% endblock %}

{% block body %}

    <!-- Main menu -->
    {% include 'FlowberFrontOfficeBundle::partials/common/main-connected-navbar.html.twig' %}
       
    <!-- Cover -->
    <div class="jumbotron create-event-cover" style="background-image: url({{asset('assets/images/UserBundle/signIn/cover-streetsheeps.jpg')}})">    
        <div class="container" >
            <div class="row-fluid text-center">       
                <h1 class="create-event-cover-title ">Recherchez votre prochaine aventure !</h1>
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Rechercher un évènement">
                    </div>
                    <button type="submit" class="btn btn-default btn-red">Rechercher !</button>
                    <div class="form-group">
                        <a class="advanced-search-link" data-toggle="collapse" href="#collapseEventSearch" aria-expanded="false" aria-controls="collapseEventSearch">
                            Recherche avancée
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
        
    <div class="collapse" id="collapseEventSearch">
        <div class="container">
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6">
                    <div class="form-horizontal">
                    {{form_start(searchEventForm)}}
                    {% if form_errors(searchEventForm) %}
                    <div class="form-error-custom">
                        {{form_errors(searchEventForm)}}                
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="form_title" class="col-sm-2 control-label">Titre</label>
                        <div class="col-sm-10">
                            {{form_widget(searchEventForm.title)}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form_eventDate" class="col-sm-2 control-label">Date</label>
                        <div class="col-sm-10">
                            {{form_widget(searchEventForm.eventDate)}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form_eventTime" class="col-sm-2 control-label">Heure</label>
                        <div class="col-sm-10">
                            {{form_widget(searchEventForm.eventTime)}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form_categories" class="col-sm-2 control-label">Catégorie</label>
                        <div class="col-sm-10">
                            {{form_widget(searchEventForm.categories)}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form_placeName" class="col-sm-2 control-label">Nom de l'emplacement</label>
                        <div class="col-sm-10">
                            {{form_widget(searchEventForm.placeName)}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form_zipcode" class="col-sm-2 control-label">Code postal</label>
                        <div class="col-sm-10">
                            {{form_widget(searchEventForm.zipcode)}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <input type="submit" class="btn btn-default btn-red" value="Rechercher"/>
                        </div>
                    </div>
                        {{form_rest(searchEventForm)}}
                    {{form_end(searchEventForm)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="container event-thumbnail-display-container" style="margin-top : 20px; margin-bottom : 20px">
        <div class="row">
            <h2>Toutes les dernières sorties</h2>

            {% for event in events %}
                   {% include 'FlowberEventBundle::partials/oneEventResume.html.twig' %}     
            {%endfor%}
        </div>
    </div>

    
    <!-- footer -->                  
    {% include 'FlowberFrontOfficeBundle::partials/common/footer.html.twig' %}
    
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {# Put specific JS below #}    
    
{% endblock %}
