{# empty Twig template #}
{% extends '::base_frontoffice.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('assets/css/EventBundle/generic-event.css') }}"/> 
{% endblock %}

{% block smallMenu %}
    {{parent()}}
    <!-- BEGIN small screen menu -->
    <!-- END small screen menu -->
{% endblock %}

{% block body %}

    <!-- Main menu -->
    {% include 'FlowberFrontOfficeBundle::partials/common/main-connected-navbar.html.twig' %}
       
    <!-- Cover -->
    <div class="jumbotron create-event-cover" style="background-image: url({{asset('assets/images/UserBundle/signIn/cover-streetsheeps.jpg')}})">    
        <div class="container" >
            <div class="row-fluid text-center">       
                <h1 class="create-event-cover-title ">Recherchez votre prochaine aventure !</h1>
                <form class="form-inline">
                <div class="form-group">
                  <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Rechercher un groupe">
                </div>
                <button type="submit" class="btn btn-default">Rechercher !</button>
                </form>
            </div>
        </div>
    </div>
        
    <div class="container">
        <div class="row">
            {{form(searchEventForm)}}
        </div>
    </div>
        
    <div class="container event-thumbnail-display-container" style="margin-top : 20px; margin-bottom : 20px">
        <div class="row">
            <h2>Toutes les dernières sorties</h2>

            {% for event in events %}
                   {% include 'FlowberEventBundle::partials/oneEventResume.html.twig' %}     
            {%endfor%}
        </div>
    </div>

    
    <!-- footer -->                  
    {% include 'FlowberFrontOfficeBundle::partials/common/footer.html.twig' %}
    
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {# Put specific JS below #}    
    
{% endblock %}
