{# empty Twig template #}
{% extends '::base_frontoffice.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('assets/css/EventBundle/event.css') }}"/> 
    <link rel="stylesheet" href="{{ asset('assets/css/EventBundle/generic-event.css') }}"/> 
    <link rel="stylesheet" href="{{ asset('assets/css/GalleryBundle/generic-gallery.css') }}"/> 
{% endblock %}

{% block smallMenu %}
    {{parent()}}
    <!-- BEGIN small screen menu -->
    {% include 'FlowberEventBundle::partials/eventNavbarSmall.html.twig' %}
    <!-- END small screen menu -->
{% endblock %}

{% block body %}

    <!-- Main menu -->
    {% include 'FlowberFrontOfficeBundle::partials/common/main-connected-navbar.html.twig' %}
    
    <!-- Event Banner -->  
    {% include 'FlowberCircleBundle::partials/cover.html.twig' %}           

    <!-- Second menu -->
    {% include 'FlowberEventBundle::partials/eventNavbar.html.twig' %}
   
    <!-- page -->
    <div class="event-page-title-row text-center">
        <span class="event-page-title">Galeries</span>
    </div>
    
    <!-- Galleries list -->
    {% include 'FlowberGalleryBundle::partials/list-galleries.html.twig' %}
   
    <!-- footer -->                  
    {% include 'FlowberFrontOfficeBundle::partials/common/footer.html.twig' %}
    
{% endblock %}

{% block javascripts %}
    {{parent()}}

{% endblock %}