{# empty Twig template #}
{% extends '::base_frontoffice.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('assets/css/GroupBundle/group.css') }}"/>
{% endblock %}

{% block smallMenu %}
    {{parent()}}
    <!-- BEGIN small screen menu -->
    <!-- END small screen menu -->
{% endblock %}

{% block body %}
    <!-- navbar top -->
    {% include 'FlowberFrontOfficeBundle::partials/common/main-connected-navbar.html.twig' %}
    <!-- Second menu -->
    {% include 'FlowberProfileBundle::partials/userProfile/profileNavbar.html.twig' %} 
    
   <div class="user-profile-groups user-profile">

    <div class="jumbotron create-event-cover" style="background-image: url({{asset('assets/images/UserBundle/signIn/cover-streetsheeps.jpg')}})">    
        <div class="container" >
            <div class="row-fluid text-center">       
                <h1 class="create-event-cover-title ">Tous mes groupes !</h1>
            </div>
        </div>
    </div>

        <div class="container user-profile-groups-container" style="padding-bottom : 50px">
            <div class="row">
                {% for group in groups %}
                    {% include 'FlowberGroupBundle::partials/oneGroupResume.html.twig' %}
                {%endfor%}
            </div>  
        </div>  
    </div>
                                
    <!-- footer -->                  
    {% include 'FlowberFrontOfficeBundle::partials/common/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{parent()}}

{% endblock %}