{# empty Twig template #}
{% extends '::base_frontoffice.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('assets/css/GroupBundle/group.css') }}"/>
{% endblock %}

{% block smallMenu %}
    {{parent()}}
    <!-- BEGIN small screen menu -->
    {% include 'FlowberGroupBundle::partials/groupNavbarSmall.html.twig' %}
    <!-- END small screen menu -->
{% endblock %}

{% block body %}

    <!-- navbar top -->
    {% include 'FlowberFrontOfficeBundle::partials/common/main-connected-navbar.html.twig' %}
    
    <!-- Group Cover -->  
    {% include 'FlowberCircleBundle::partials/cover.html.twig' %}           

    <!-- Second navbar -->
    {% include 'FlowberGroupBundle::partials/groupNavbar.html.twig' %}
    
    <!-- Galleries -->  
        <div id="friends" class="user-profile-friends user-profile">
        <div class="user-profile-category-row text-center">
            <span class="user-profile-category-title">Membres</span>
        </div>
            <br>          
        <div class="container">
            <div class="row user-profile-friends-list">
                {% for friend in members %}
                    <div class=" col-md-4 col-sm-6 col-xs-12">
                        <div class="media user-profile-friends-list-element">
                            <div class="media-left">
                                <a href="{{ path('api_get_circle', {'circleId': friend.id}) }}"> 
                                    <div class="user-profile-friends-list-element-avatar" style="background-image:url('{{asset(friend.profilePicture)}}')"></div>
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="user-profile-friends-list-element-details">
                                    <a class="user-profile-friends-list-element-details-name" href="{{ path('api_get_circle', { 'circleId' : friend.id } ) }}" title=" voir le profil de {{friend.name}}">
                                        <b>{{friend.name}}</b>
                                    </a>
                                    <br/>
                                    <div class="user-profile-friends-list-element-subtitle-friends">
                                        {{friend.subtitle}}
                                    </div>
                                    <br/>
                                    <span class="user-profile-friends-list-element-details-friends">
                                        {{friend.numberFriend}}  {% if friend.numberFriend <= 1 %} ami {% else %} amis {% endif %}
                                    </span> &middot; 
                                    <span class="user-profile-friends-list-element-details-events">
                                        {{friend.numberEvent}}  {% if friend.numberEvent <= 1 %} sortie {% else %} sorties {% endif %}
                                    </span>
                                    </span> &middot; 
                                    <span class="user-profile-friends-list-element-details-events">
                                        {{friend.numberGroup}}  {% if friend.numberGroup <= 1 %} groupe {% else %} groupes {% endif %}
                                    </span>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>  
                {% endfor %}
            </div>
        </div>
    </div>
   
    <!-- footer -->                  
    {% include 'FlowberFrontOfficeBundle::partials/common/footer.html.twig' %}
    
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {# Put specific JS below #}
{% endblock %}