{# empty Twig template #}
{% extends '::base_frontoffice.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('assets/css/GroupBundle/group.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/ProfileBundle/generic-profile.css') }}"/>
{% endblock %}

{% block smallMenu %}
    {{parent()}}
    <!-- BEGIN small screen menu -->
    {% include 'FlowberGroupBundle::partials/groupNavbarSmall.html.twig' %}
    <!-- END small screen menu -->
{% endblock %}

{% block body %}

    <!-- navbar top -->
    {% include 'FlowberFrontOfficeBundle::partials/common/main-connected-navbar.html.twig' %}
    
    <!-- Group Cover -->  
    {% include 'FlowberCircleBundle::partials/cover.html.twig' %}           

    <!-- Second navbar -->
    {% include 'FlowberGroupBundle::partials/groupNavbar.html.twig' %}
    
    <!-- Galleries -->   
    <div class="group-page-title-row text-center">
        <span class="group-page-title">Membres</span>
    </div>

    <div class="container">
        <div class="row generic-profile-list">
            {% for friend in members %}
                <div class=" col-md-4 col-sm-6 col-xs-12">
                {% include 'FlowberProfileBundle::partials/oneProfileResume.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>
   
    <!-- footer -->                  
    {% include 'FlowberFrontOfficeBundle::partials/common/footer.html.twig' %}
    
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {# Put specific JS below #}
{% endblock %}