{# empty Twig template #}

<div class="container event-container">
    <div class="row">
        <div class="col-md-5">
            <div class="event-details">
                <h2>{{ circle.title}}</h2>
                {% if role != "cantsee" and (circle.address is not null) and (circle.coordinates is not null)  %}
                    <div id="map" class="gmap"></div>
                {% endif %}                    
                <table>
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/host.png')}}" alt="Organisateur"/></td>
                        <td>créée par 
                            <span class="event-details-host">
                                <a href="{{ path('api_get_circle', {'circleId': circle.idCreatedBy}) }}"> {{ circle.createdBy }} </a>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/category.png')}}" alt="categories"/></td>
                        <td>
                            {{ circle.categories }}
                        </td>
                    </tr>                        
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/time.png')}}" alt="Date et horaire"/></td>
                        <td>{{ circle.startDate }}
                        
                        {{ circle.endDate }}</td>
                    </tr>
                    {% if role != "cantsee" %}
                        <tr>
                            <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/location.png')}}" alt="Lieu"/></td>
                            <td>{% if circle.address is not null %}
                                    {{circle.name}} <br/>{{circle.address}}<br/>{{circle.zipcode}} {{circle.city}}                          
                                {% else %}
                                    <span>Emplacement non défini</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                            <tr>
                            <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/location.png')}}" alt="Lieu"/></td>
                            <td>{% if circle.address is not null %}
                                    {{circle.city}}                          
                                {% else %}
                                    <span>Emplacement non défini</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/participants.png')}}" alt="Participants"/></td>
                        <td>
                            {{circle.members}} {% if circle.members <= 1 %} participant {% else %} participants {% endif %}
                            {% if circle.friends is not null %}
                                dont {{circle.friends}} {% if circle.friends <= 1 %} ami {% else %} amis {% endif %}                         
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/description.png')}}" alt="Description de l'évènement"/></td>
                        <td><p class="event-details-description">{% if circle.description is not null %}{{ circle.description }}{% else %}Aucune description{% endif %}</p></td>
                    </tr>
                    {% if role != "creator" %}
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/mail.png')}}" alt="Envoyer un message à l'organisteur"/></td>
                        <td>
                            Envoyer un e-mail à l'organisateur<br/>
                            <form name="send-private-message-form" method="post" action="{{path('api_post_privatemessage', {"circleId": circle.id})}}">
                                {{ form_widget(mailToCreatorForm.message, {'attr': {'class': 'event-mail', 'placeholder':'Votre message'}})}} 
                                {{ form_rest(mailToCreatorForm) }}
                                <button class="btn btn-default" type="submit">Envoyer</button>
                            </form>
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        {% if role != "cantsee" %}
        <div class="col-md-7">
            <div class="event-blog">
                {% include 'FlowberPostBundle::partials/newEventPost.html.twig' %}
                {% include 'FlowberPostBundle::basePostList.html.twig' %}
                {#% include 'FlowberPostBundle::partials/showPostsEvent.html.twig' %#}                
            </div>
        </div>
        {% else %}
            Cette sortie est privée.
        {% endif %}

    </div>                
</div>