{# empty Twig template #}

<div class="container event-container">
    <div class="row">
        <div class="col-md-5">
            <div class="event-details">
                <h2>{{ circle.title}}</h2>
                {% if (circle.address is not null) and (circle.coordinates is not null) %}
                    <div id="map" class="gmap"></div>
                {% endif %}                    
                <table>
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/host.png')}}" alt="Organisateur"/></td>
                        <td>créée par 
                            <span class="event-details-host">
                                <a href="{{ path('flowber_user_profile', {'id': circle.idCreatedBy}) }}"> {{ circle.createdBy }} </a>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/category.png')}}" alt="categories"/></td>
                        <td>
                            {{ circle.categories }}
                        </td>
                    </tr>                        
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/time.png')}}" alt="Date et horaire"/></td>
                        <td>{{ circle.startDate }}
                        
                        {{ circle.endDate }}</td>
                    </tr>

                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/location.png')}}" alt="Lieu"/></td>
                        <td>{% if circle.address is not null %}
                                {{circle.name}} <br/>{{circle.address}}<br/>{{circle.zipcode}} {{circle.city}}                          
                            {% else %}
                                <span>Emplacement non défini</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/participants.png')}}" alt="Participants"/></td>
                        <td>
                            {{circle.participantsNumber}} {% if circle.participantsNumber <= 1 %} participant {% else %} participants {% endif %}<br/>
                        </td>
                    </tr>
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/description.png')}}" alt="Description de l'évènement"/></td>
                        <td><p class="event-details-description">{% if circle.description is not null %}{{ circle.description }}{% else %}Aucune description{% endif %}</p></td>
                    </tr>
                    {% if isCreator == false %}
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/mail.png')}}" alt="Envoyer un message à l'organisteur"/></td>
                        <td>
                            Envoyer un e-mail à l'organisateur<br/>
                            <form name="send-private-message-form" method="post" action="{{path('api_post_private_message', {"circleId": circle.id})}}">
                                {{ form_widget(mailToCreatorForm.message, {'attr': {'class': 'event-mail', 'placeholder':'Votre message'}})}} 
                                {{ form_rest(mailToCreatorForm) }}
                                <button class="btn btn-default" type="submit">Envoyer</button>
                            </form>
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="col-md-7">
            <div class="event-blog">
                <div class="event-blog-new-post">
                    <ul id="eventNavbar" class="nav nav-tabs nav-justified event-blog-new-post-navbar">
                        <li role="presentation" class="event-blog-new-post-navbar-option active" aria-controls="newpost" role="tab" data-toggle="tab">
                            <a href="#newpost"><img class="event-blog-new-post-navbar-option-icon" src="{{asset('assets/images/FrontOfficeBundle/icons/new-post.png')}}" alt=""/> Ecrire un message</a>
                        </li>
                        <li role="presentation" class="event-blog-new-post-navbar-option" aria-controls="newphoto" role="tab" data-toggle="tab">
                            <a href="#newphoto"><img class="event-blog-new-post-navbar-option-icon" src="{{asset('assets/images/FrontOfficeBundle/icons/photo.png')}}" alt=""/> Ajouter une gallerie </a>
                        </li>
                    </ul>
                        
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="newpost">
                            <form action="{{ path('add_post_event', { 'event_id' : circle.id } ) }}" method="post" {{ form_enctype(postForm) }}>                
                                {{form_widget(postForm)}}
                                <div class="event-blog-new-post-footer">
                                    <div class="event-blog-new-post-footer-confirm text-right">
                                        <button type="submit" class="btn btn-default btn-red">Envoyer</button>
                                    </div>
                                </div>
                            </form>          
                        </div>
                        <div role="tabpanel" class="tab-pane " id="newphoto">
                            <form>                
                                Photo
                                <div class="event-blog-new-post-footer">
                                    <div class="event-blog-new-post-footer-confirm text-right">
                                        <button type="submit" class="btn btn-default btn-red">Envoyer</button>
                                    </div>
                                </div>
                            </form>          
                        </div>
                    </div>
                </div>

                {% include 'FlowberPostBundle::partials/showPostsEvent.html.twig' %}
                
            </div>
        </div>
    </div>                
</div>