{# empty Twig template #}
<nav id="nav-stick" class="navbar navbar-default navbar-second navbar-sm">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#second-navbar" aria-expanded="false" aria-controls="second-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
            </div>
            <div id="second-navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('flowber_event_homepage', {'id': circle.id}) }}">Actualités</a></li>
                    <li><a href="{{ path('flowber_event_participants', {'id': circle.id}) }}">Participants</a></li>
                    <li><a href="{{ path('flowber_event_gallery', {'id': circle.id}) }}">Photos</a></li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" title="Envoyez un clin d'oeil">
                            <img class="menu-link-icon" src="{{asset('assets/images/FrontOfficeBundle/icons/wink.png')}}"/> 
                        </a>
                    </li>
                    <li>
                        <a href="#" title='Envoyez un mail au responsable de la sortie'>
                            <img class="menu-link-icon" src="{{asset('assets/images/FrontOfficeBundle/icons/bubble-chat.png')}}"/>
                        </a>
                    </li>
                    <li>
                        <a href="#" title='Inviter des gens à participer à la sortie'>
                            <img class="menu-link-icon" src="{{asset('assets/images/FrontOfficeBundle/icons/tag-person.png')}}"/>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <form method="post">
                                <i class="fa fa-calendar-plus-o attend-event-submit" data-toggle="tooltip" data-placement="top" title="Participer à la sortie"></i>
                            </form>
                        </a>
                    </li>
                    <li>
                        <a class="back-top" href="#" title="Remonter en haut de la page">
                            <span class="fa fa-caret-up"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>