{# empty Twig template #}

<div class="container event-container">
    <div class="row">
        <div class="col-md-5">
            <div class="event-details">
                <h2>{{ result.getTitle()}}</h2>
                {% if (result.getPostalAddress() is not null) and (result.getPostalAddress().getCoordinates() is not null) %}
                <div id="map"></div>
                {% endif %}                    
                <table>
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/host.png')}}" alt="Organisateur"/></td>
                        <td>créée par <span class="event-details-host">{{ result.getCreatedBy().getFirstname() }} {{ result.getCreatedBy().getSurname() }}</span></td>
                    </tr>
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/category.png')}}" alt="categories"/></td>
                        <td>
                            {% if result.getCategories() | length %}{# if categories are specified #}
                                {% for category in result.getCategories() %}
                                    <span>{{ category.getTitle() }}</span>      
                                    {% if not loop.last %}<span>,</span> {% endif %}
                                {% endfor %}
                            {% else %}
                                <span>Catégorie non spécifiée</span>
                            {% endif %}
                        </td>
                    </tr>                        
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/time.png')}}" alt="Date et horaire"/></td>
                        <td>{{ result.getStartDate()|date("\\l\\e d/m/Y", "Europe/Paris") }} {{ result.getStartTime()|date("\\à H:i", "Europe/Paris") }}</td>
                    </tr>

                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/location.png')}}" alt="Lieu"/></td>
                        <td>{% if result.getPostalAddress() is not null %}{{ result.getPostalAddress().getName() }}<br/>{{ result.getPostalAddress().getAddress() }}<br/>{{ result.getPostalAddress().getZipcode() }} {{ result.getPostalAddress().getCity() }}{% else %}<span>Emplacement non défini</span>{% endif %}</td>
                    </tr>
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/participants.png')}}" alt="Participants"/></td>
                        <td>
                            8 participants dont 1 ami<br/>
                            <span class="event-details-participant">Marie BOIVENT</span>, <span class="event-details-participant">Equina YOU</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/description.png')}}" alt="Description de l'évènement"/></td>
                        <td><p class="event-details-description">{% if result.getDescription() is not null %}{{ result.getDescription() }}{% else %}Aucune description{% endif %}</p></td>
                    </tr>
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/mail.png')}}" alt="Envoyer un message à l'organisteur"/></td>
                        <td>
                            Envoyer un e-mail à l'organisateur<br/>
                            <form method="post">
                                {{ form_widget(mailToCreatorForm.message, {'attr': {'class': 'event-mail', 'placeholder':'Votre message'}})}} 
                                {{ form_rest(mailToCreatorForm) }}
                                <button class="btn btn-default" type="submit">Envoyer</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-7">
            <div class="event-blog">
                <div class="event-blog-new-post">
                    <ul id="eventNavbar" class="nav nav-tabs nav-justified event-blog-new-post-navbar">
                        <li role="presentation" class="event-blog-new-post-navbar-option active" aria-controls="newpost" role="tab" data-toggle="tab">
                            <a href="#newpost"><img class="event-blog-new-post-navbar-option-icon" src="{{asset('assets/images/FrontOfficeBundle/icons/new-post.png')}}" alt=""/> Ecrire un message</a>
                        </li>
                        <li role="presentation" class="event-blog-new-post-navbar-option" aria-controls="newphoto" role="tab" data-toggle="tab">
                            <a href="#newphoto"><img class="event-blog-new-post-navbar-option-icon" src="{{asset('assets/images/FrontOfficeBundle/icons/photo.png')}}" alt=""/> Ajouter une gallerie </a>
                        </li>
                    </ul>
                     <!-- Tab panes -->
                    <div role="tabpanel" class="tab-pane active" id="newpost">
                        <form action="{{ path('add_post_event', { 'event_id' : result.id } ) }}" method="post" {{ form_enctype(postForm) }}>                
                            {{form_widget(postForm)}}
                            <div class="event-blog-new-post-footer">
                                <div class="event-blog-new-post-footer-confirm text-right">
                                    <button type="submit" class="btn btn-default btn-red">Envoyer</button>
                                </div>
                            </div>
                        </form>          
                    </div>
                </div>

                {% include 'FlowberPostBundle::partials/showPostsEvent.html.twig' %}
                
            </div>
        </div>
    </div>                
</div>