{# empty Twig template #}
<nav id="nav-stick" class="navbar navbar-default navbar-second navbar-sm">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#second-navbar" aria-expanded="false" aria-controls="second-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
            </div>
            <div id="second-navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('api_get_circle', {'circleId': circle.id}) }}">Actualités</a></li>
                    <li><a href="{{ path('flowber_event_participants', {'id': circle.id}) }}">Participants</a></li>
                    <li><a href="{{ path('flowber_event_galleries', {'id': circle.id}) }}">Galeries</a></li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    {% if circle.role != "creator" %}
                        <li>
                            <a href="#" data-toggle="modal" data-target="#modal-wink" title="Envoyez un clin d'oeil">
                                <img class="menu-link-icon" src="{{asset('assets/images/FrontOfficeBundle/icons/wink.png')}}"/> 
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#modalMessage" title='Envoyez un mail au responsable de la sortie'>
                                <img class="menu-link-icon" src="{{asset('assets/images/FrontOfficeBundle/icons/bubble-chat.png')}}"/>
                            </a>
                        </li>
                        <!--
                        <li>
                            <a href="#" title='Inviter des gens à participer à la sortie'>
                                <img class="menu-link-icon" src="{{asset('assets/images/FrontOfficeBundle/icons/tag-person.png')}}"/>
                            </a>
                        </li>-->
                        {% if circle.role != "cantsub" %}
                            {% if circle.role == "no" or circle.role == "cantsee"%}
                                <li id="sendRequest" style="display:inline">
                                    <a href="#" data-toggle="modal" data-target="#modalAddSubscriber" title="Participer à la sortie {{ circle.title }}" data-whatever="Participer à l'évènement {{ circle.title }}">
                                        <img class="menu-link-icon" src="{{asset('assets/images/UserBundle/friendShip/addFriend.png')}}"/>
                                    </a>
                                </li>
                                <li id="deleteRequest"  style="display:none">
                                    <a href="#" data-toggle="modal" data-target="#modalDeleteRequest" title="Ne plus participer à la sortie {{ circle.title }}" data-whatever="Ne plus participer à l'évènement {{ circle.title }}">
                                        <img class="menu-link-icon" src="{{asset('assets/images/UserBundle/friendShip/deleteFriend.png')}}"/>
                                    </a>
                                </li>                        
                            {% elseif circle.role == "member"  %}
                                <li id="unsubscribe" style="display:inline">
                                    <a href="#" data-toggle="modal" data-target="#modalUnsubscribe" title='Se désinscrire de la sortie {{ circle.title }}' data-whatever="Voulez-vous vous désinscrire de la sortie {{ circle.title }}">
                                        <img class="menu-link-icon" src="{{asset('assets/images/UserBundle/friendShip/removeFriend.png')}}"/>
                                    </a> 
                                </li>
                                <li id="deleteRequest"  style="display:none">
                                    <a href="#" data-toggle="modal" data-target="#modalDeleteRequest" title="Ne plus participer à la sortie {{ circle.title }}" data-whatever="Ne plus participer à l'évènement {{ circle.title }}">
                                        <img class="menu-link-icon" src="{{asset('assets/images/UserBundle/friendShip/deleteFriend.png')}}"/>
                                    </a>
                                </li>  
                                <li id="sendRequest" style="display:none">
                                    <a href="#" data-toggle="modal" data-target="#modalAddSubscriber" title="Participer à la sortie {{ circle.title }}" data-whatever="Participer à l'évènement {{ circle.title }}">
                                        <img class="menu-link-icon" src="{{asset('assets/images/UserBundle/friendShip/addFriend.png')}}"/>
                                    </a>
                                </li>
                            {% elseif circle.role == "requestSent"  %}
                                <li id="deleteRequest"  style="display:inline">
                                    <a href="#" data-toggle="modal" data-target="#modalDeleteRequest" title="Ne plus participer à la sortie {{ circle.title }}" data-whatever="Ne plus participer à l'évènement {{ circle.title }}">
                                        <img class="menu-link-icon" src="{{asset('assets/images/UserBundle/friendShip/deleteFriend.png')}}"/>
                                    </a>
                                </li>
                                <li id="sendRequest" style="display:none">
                                    <a href="#" data-toggle="modal" data-target="#modalAddSubscriber" title="Participer à la sortie {{ circle.title }}" data-whatever="Participer à l'évènement {{ circle.title }}">
                                        <img class="menu-link-icon" src="{{asset('assets/images/UserBundle/friendShip/addFriend.png')}}"/>
                                    </a>
                                </li>
                            {% endif %}
                        {% else %}
                            <li>
                                <a href="#" title="Il n'y a plus de place pour la sortie {{ circle.title }}" >
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                    <li>
                        <a class="back-top" href="#" title="Remonter en haut de la page">
                            <span class="fa fa-caret-up"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

{% include 'FlowberCircleBundle::partials/modalAddSubscriber.html.twig' %} 
{% include 'FlowberPrivateMessageBundle::partials/sendMessageToUser.html.twig' %} 
{% include 'FlowberPrivateMessageBundle::partials/sendWinkToUser.html.twig' %} 
