{# empty Twig template #}
{% extends '::base_frontoffice.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/wybefrontoffice/css/messages.css') }}"/>
{% endblock %}

{% block body %}

    <!-- navbar top -->
    {% include 'FlowberFrontOfficeBundle::partials/common/main-connected-navbar.html.twig' %}
    
    <div class="messages-container">
        <div class="container">
            <div class="row">
                <div class="col-md-3 messages-menu">
                    <div class="list-group messages-menu-list">
                        <a href="{{path('flowber_private_message_received_homepage')}}" class="list-group-item{% if type == 'received' %} active {% endif %}"><span class="badge">{{ numberReceiveddMessages|number_format }}</span>Messages reçus </a>
                        <a href="{{path('flowber_private_message_send_homepage')}}" class="list-group-item {% if type == 'send' %} active {% endif %}"><span class="badge">{{ numberSendMessages|number_format }}</span>Messages envoyés</a>
                        <a href="{{path('flowber_private_message_deleted_homepage')}}" class="list-group-item {% if type == 'deleted' %} active {% endif %}"><span class="badge">{{ numberDeletedMessages|number_format }}</span>Corbeille</a>
                    </div>
                </div>
                
                <div class="col-md-9 messages-content">
                    <table class="table table-hover messages-stream">
                        <thead>
                            <tr>
                                <th>
                                    <div class="btn-group" role="group" aria-label="messages-pagination">
                                        <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Messages plus récents"><span class="glyphicon glyphicon-menu-left"></span></button>
                                        <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Messages plus anciens"><span class="glyphicon glyphicon-menu-right"></span></button>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for userMessage in userMessages %}

                                    <tr class="messages-stream-element" data-href="{{ path('flowber_private_message_one_homepage', {'id': userMessage.id}) }}">
                                        <td class="messages-stream-element-clickable">
                                            <span class="messages-stream-element-author">
                                                {% if userMessage.statut == '2' %}  <b> {% endif %}
                                                    {{ userMessage.userTo.firstname }} {{ userMessage.userFrom.surname }}
                                                {% if userMessage.statut == '2' %}  </b> {% endif %}
                                            </span>
                                        </td>
                                        <td class="messages-stream-element-clickable">
                                            <span class="messages-stream-element-subject">
                                                {% if userMessage.statut == '2'%}  <b> {% endif %}
                                                    {{ userMessage.subject }}
                                                {% if userMessage.statut == '2'%}  </b> {% endif %}
                                            </span> 
                                            - 
                                            <span class="messages-stream-element-content-preview">{{ userMessage.message }}</span>
                                        </td>
                                        <td class="messages-stream-element-clickable">
                                            <span class="messages-stream-element-date">{{ userMessage.creationDate|date("\\l\\e d/m/Y  \\à G:i") }}</span>
                                        </td>  
                                        <td>
                                            <a tabindex="-1" href="{{ path('flowber_delete_message', {'id': userMessage.id, 'type':'r'}) }}">
                                                <button type="button" class="btn btn-default  btn-xs"  data-toggle="tooltip" data-placement="top" title="Supprimer le message"> 
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                </button>
                                            </a>
                                            <a tabindex="-1" href="{{ path('flowber_read_message', {'id': userMessage.id}) }}">
                                                <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Marquer comme Lu ou Non Lu"> 
                                                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                                                </button>
                                            </a>
                                        </td>
                                    </tr>                           

                            {% endfor %}
                            {#
                                {% for userMessage in userMessages %}
                                {{ userMessage.subject }}
                                {% endfor %}
                            #}
                        </tbody>

                    </table>                
                </div>
            </div>        
        </div>
    </div>
   
    <!-- footer -->                  
    {% include 'FlowberFrontOfficeBundle::partials/common/footer.html.twig' %}
    
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {# Put specific JS below #}    
    <script src="{{ asset('bundles/wybefrontoffice/js/messages.js') }}"></script>
{% endblock %}
