{# empty Twig template #}
{% extends '::base_frontoffice.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('assets/css/PrivateMessageBundle/messages.css') }}"/>
{% endblock %}

{% block body %}

    <!-- navbar top -->
    {% include 'FlowberFrontOfficeBundle::partials/common/main-connected-navbar.html.twig' %}
    
    <div class="messages-container">
        <div class="container">
            <div class="row">
                <div class="col-md-2 messages-menu">
                    <div class="list-group messages-menu-list">
                        <a href="{{path('flowber_privatemessage_received_homepage')}}" class="list-group-item {% if type == 'received' %} active {% endif %}"><span class="badge" id="messageReceveivedNumber">{{number.received}}</span>Messages reçus </a>
                        <a href="{{path('flowber_privatemessage_sent_homepage')}}" class="list-group-item {% if type == 'send' %} active {% endif %}"><span class="badge" id="messageSentNumber">{{number.sent}}</span>Messages envoyés</a>
                        <a href="{{path('flowber_privatemessage_deleted_homepage')}}" class="list-group-item {% if type == 'deleted' %} active {% endif %}"><span class="badge" id="messageDeletedNumber">{{number.deleted}}</span>Corbeille</a>
                    </div>
                </div>
                
                <div class="col-md-10 messages-content">
                    <table class="table table-hover messages-stream">
                        <thead>
                            <tr>
                                <th>
                                    <div class="btn-group" role="group" aria-label="messages-pagination">
                                        <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Messages plus récents"><span class="glyphicon glyphicon-menu-left"></span></button>
                                        <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Messages plus anciens"><span class="glyphicon glyphicon-menu-right"></span></button>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for message in messages %}
                                {% if message.is == 'sent' %}
                                    <tr id="messageFrom-{{message.messageId}}" class="messages-stream-element" data-href="{{ path('mp_sent', {'id': message.messageId}) }}">
                                {% elseif  message.is == 'sentDeleted' %} 
                                    <tr id="messageFrom-{{message.messageId}}" class="messages-stream-element" data-href="{{ path('mp_sentDeleted', {'id': message.messageId}) }}">
                                {% elseif message.is == 'received' %}
                                    <tr id="messageFrom-{{message.receiverMessageId}}" class="messages-stream-element" data-href="{{ path('mp_received', {'id': message.messageId}) }}">
                               {% elseif message.is == 'receivedDeleted'%}
                                    <tr id="messageFrom-{{message.receiverMessageId}}" class="messages-stream-element" data-href="{{ path('mp_receivedDeleted', {'id': message.messageId}) }}">
                                {% endif %} 
                                        <td class="col-md-2 messages-stream-element-clickable">
                                            {% if message.statut == '2'%}  
                                                <span id="messageFromTitle-{{message.receiverMessageId}}" class="bold messages-stream-element-author">
                                            {% else %}
                                                <span id="messageFromTitle-{{message.receiverMessageId}}" class="messages-stream-element-author">
                                            {% endif %}
                                                    {% if message.is == 'sent' or message.is == 'sentDeleted' %} 
                                                        A : {{ message.receiversName }}    
                                                    {% else %}
                                                        {{ message.circleFromTitle }}
                                                    {% endif %}
                                             </span>
                                        </td>
                                        <td class="col-md-9 messages-stream-element-clickable">
                                            {% if message.statut == '2'%}  
                                                <span id="messageFromSubject-{{message.receiverMessageId}}" class="bold messages-stream-element-subject">
                                            {% else %}
                                                <span id="messageFromSubject-{{message.receiverMessageId}}" class="messages-stream-element-subject">
                                            {% endif %}
                                                    {{ message.subject }}
                                            </span> 
                                            - 
                                            <span class="messages-stream-element-content-preview">{{ message.message }}</span>
                                        </td >
                                        <td class="col-md-1 messages-stream-element-clickable">
                                            <span class="messages-stream-element-date">{{ message.creationDate|date("\\l\\e d/m") }}</span><br>
                                            <span class="messages-stream-element-date">{{ message.creationDate|date("\\à G:i") }}</span>
                                        </td> 
                                        {% if message.is == 'received' %} 
                                            <td class="col-md-2">
                                                <form id="deleteReceivedMessage" class="{{message.receiverMessageId}}" method="post" action="{{ path('api_post_deletereceviedmessage', {'id': message.receiverMessageId}) }}">
                                                    <button id="messageFromDelete-{{message.receiverMessageId}}" type="submit" class="btn btn-default btn-xs" title="Supprimer le message"> 
                                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                    </button>
                                                </form>
                                                <form id="readNotRead" class="{{message.receiverMessageId}}" method="post" action="{{ path('api_post_read', {'id': message.receiverMessageId}) }}">
                                                    <button id="messageFromSubmit-{{message.receiverMessageId}}" type="submit" class="btn btn-default btn-xs" title="Marquer comme Lu ou Non Lu"> 
                                                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                                                    </button>
                                                </form>
                                            </td>
                                        {% elseif message.is == 'sent' %}
                                            <td class="col-md-2">
                                                <form id="deleteSentMessage" class="{{message.messageId}}" method="post" action="{{ path('api_post_deletesentmessage', {'id': message.messageId}) }}">
                                                    <button id="messageFromDelete-{{message.messageId}}" type="submit" class="btn btn-default btn-xs" title="Supprimer le message"> 
                                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                    </button>
                                                </form>
                                            </td>                                        
                                        {% elseif message.is == 'sentDeleted' %}
                                            <td class="col-md-2">
                                                <form id="deleteDeletedMessage" class="{{message.messageId}}" method="post" action="{{ path('api_post_deletesentdeletedmessage', {'id': message.messageId}) }}">
                                                    <button id="messageFromDelete-{{message.messageId}}" type="submit" class="btn btn-default btn-xs" title="Supprimer le message"> 
                                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                    </button>
                                                </form>
                                                <form id="CancelSentDeleted" class="{{message.messageId}}" method="post" action="{{ path('api_post_cancelsentdeleted', {'id': message.messageId}) }}">
                                                    <button id="messageFromSubmit-{{message.messageId}}" type="submit" class="btn btn-default btn-xs" title="Marquer comme Lu ou Non Lu"> 
                                                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                                                    </button>
                                                </form>
                                            </td>                                               
                                        {% elseif message.is == 'receivedDeleted' %}
                                            <td class="col-md-2">

                                                <form id="deleteDeletedMessage" class="{{message.receiverMessageId}}" method="post" action="{{ path('api_post_deletereceiveddeletedmessage', {'id': message.receiverMessageId}) }}">
                                                    <button id="messageFromDelete-{{message.receiverMessageId}}" type="submit" class="btn btn-default btn-xs" title="Supprimer le message"> 
                                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                    </button>
                                                </form>
                                                <form id="CancelReceivedDeleted" class="{{message.receiverMessageId}}" method="post" action="{{ path('api_post_cancelreceiveddeleted', {'id': message.receiverMessageId}) }}">
                                                    <button id="messageFromSubmit-{{message.receiverMessageId}}" type="submit" class="btn btn-default btn-xs" title="Marquer comme Lu ou Non Lu"> 
                                                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                                                    </button>
                                                </form>                                            
                                            </td>  
                                        {% endif %}
                                </tr>                           

                            {% endfor %}
                            {#
                                {% for userMessage in userMessages %}
                                {{ userMessage.subject }}
                                {% endfor %}
                            #}
                        </tbody>

                    </table>                
                </div>
            </div>        
        </div>
    </div>
   
    <!-- footer -->                  
    {% include 'FlowberFrontOfficeBundle::partials/common/footer.html.twig' %}
    
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {# Put specific JS below #}    
    <script src="{{ asset('assets/js/PrivateMessageBundle/messages.js') }}"></script>
    <script src="{{ asset('assets/js/PrivateMessageBundle/sendMessageForm.js') }}"></script>
{% endblock %}
