{# empty Twig template #}
{% extends '::base_frontoffice.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('assets/css/PrivateMessageBundle/messages.css') }}"/>
{% endblock %}

{% block body %}

    <!-- navbar top -->
    {% include 'FlowberFrontOfficeBundle::partials/common/main-connected-navbar.html.twig' %}
    
    <div class="messages-container">
        <div class="container">
            <div class="row">
                <div class="col-md-3 messages-menu">
                    <div class="list-group messages-menu-list">
                        <a href="{{path('flowber_private_message_received_homepage')}}" class="list-group-item"><span class="badge">{{ numberReceiveddMessages|number_format }}</span>Messages reçus </a>
                        <a href="{{path('flowber_private_message_send_homepage')}}" class="list-group-item"><span class="badge">{{ numberSendMessages|number_format }}</span>Messages envoyés</a>
                        <a href="{{path('flowber_private_message_deleted_homepage')}}" class="list-group-item active"><span class="badge">{{ numberDeletedMessages|number_format }}</span>Corbeille</a>
                    </div>
                </div>
                
                <div class="col-md-9 messages-content">
                    <div class="message-show">

                        <table class="table message-options-bar">
                            <thead>
                                <tr>
                                    <th><a type="button" class="btn btn-default  btn-xs"  data-toggle="tooltip" data-placement="top" title="Retourner à tous les messages" href="{{path('flowber_private_message_received_homepage')}}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></th>
                                    <th colspan="2">
                                        <a tabindex="-1" href="{{ path('flowber_delete_message', {'id': message.id, 'type':'r'}) }}">
                                            <button type="button" class="btn btn-default  btn-xs"  data-toggle="tooltip" data-placement="top" title="Supprimer le message"> 
                                                <span class="glyphicon glyphicon-trash message-options-bar-icon" aria-hidden="true"></span> <span class="message-options-bar-text">Supprimer</span>
                                            </button>
                                        </a>
                                        <a tabindex="-1" href="{{ path('flowber_read_message', {'id': message.id}) }}">
                                            <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Marquer comme non lu"> 
                                                <span class="glyphicon glyphicon-eye-close message-options-bar-icon" aria-hidden="true"></span> <span class="message-options-bar-text">Marquer comme Lu/Non Lu</span>
                                            </button>
                                        </a>
                                    </th>

                                </tr>
                            </thead>
                        </table>

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 message-show-subject">
                                    <h3 class="message-subject">{{ message.subject }}</h3>
                                </div>
                                <div class="col-md-12 message-show-details">
                                    <div class="row">
                                        <div class="col-xs-9 message-show-details-correspondents">
                                            <table>
                                                <tr>
                                                    <td class="text-right message-show-details-correspondents-label"><span>A : </span></td>
                                                    <td><span> {{ message.userTo.firstname }} {{ message.userTo.surname }} </span></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right message-show-details-correspondents-label"><span>De : </span></td>
                                                    <td><span>{{ message.userFrom.firstname }} {{ message.userFrom.surname }}</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right message-show-details-correspondents-label">Envoyé : </td>
                                                    <td><span>{{ (message.creationDate)|date("\\l\\e d/m/Y \\à H:i", "Europe/Paris") }} </span></td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-xs-3 message-show-details-actions text-right">
                                            <button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Répondre au message">
                                                <span class="glyphicon glyphicon-share-alt message-show-details-actions-reply" >
                                                </span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="message-show-content col-md-12">
                                    <p> {{ message.message }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
   
    <!-- footer -->                  
    {% include 'FlowberFrontOfficeBundle::partials/common/footer.html.twig' %}
    
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {# Put specific JS below #}    
    <script src="{{ asset('assets/js/PrivateMessageBundle/messages.js') }}"></script>
{% endblock %}