<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}Titre de page dans base_frontoffice{% endblock %}</title>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{ asset('assets/js/jquery.js') }}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ asset('assets/js/bootstrap.js') }}"></script>
        <script src="{{ asset('assets/js/angular.js') }}"></script>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/wybefrontoffice/css/frontoffice-common.css') }}">     
        <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
        <link rel="stylesheet" href="{{ asset('bundles/wybefrontoffice/css/bootstrap-image-gallery.css') }}">    
        <link rel="stylesheet" href="{{ asset('bundles/wybefrontoffice/css/main.css') }}">   
        <link rel="stylesheet" href="{{ asset('bundles/wybefrontoffice/css/footer.css') }}">
           
        {% endblock %}
    </head>
    <body>
        
    {% block body %}{% endblock %}
            
    <script src="{{ asset('bundles/wybefrontoffice/js/main-sticky-menu.js') }}"></script>    
    <script src="{{ asset('bundles/wybefrontoffice/js/jquery-birthday-picker.min.js') }}"></script>
    <script src="{{ asset('bundles/wybefrontoffice/js/main.js') }}"></script>
    <!-- Customizable Affix navbar -->
    <script>
        $(window).load(function(){
            $("#nav-stick").sticky({ topSpacing: 40 });
        });
    </script>
    <script>
        $("#birthday-datepicker").birthdayPicker();
    </script>
</body>
</html>
