{# Flowber:UserBundle:Resources:Resetting:checkEmail.html.twig #}

{% trans_default_domain 'FOSUserBundle' %}

{% extends '::base_frontoffice.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    {# Put specific CSS below #}
    <link rel="stylesheet" href="{{ asset('assets/css/UserBundle/resetPassword.css') }}"/> 
{% endblock %}

{% block body %}   
    <!-- Forgot password cover -->
    <div class="jumbotron reset-password-cover" style="background-image: url({{asset('assets/images/UserBundle/signUp/cover-signup-details.jpg')}})">
        <div class="container">
            <div class="row text-center">
                <h1 class="reset-password-cover-title">Réinitialiser votre mot de passe</h1>
            </div>
        </div>
    </div>

    <!-- Reset password info -->  
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <a href="{{path('flowber_user_signin_homepage')}}" class="btn btn-default btn-md back-to-home-button">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Retour à l'accueil
                </a>
            </div>
            <div class="col-md-6 col-sm-12">
                <p>{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include 'FlowberFrontOfficeBundle::partials/common/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {# Put specific JS below #}
{% endblock %}