{# Flowber:UserBundle:Resources:Resetting:request_content.html.twig #}

{% trans_default_domain 'FOSUserBundle' %}

<div class="container reset-password-container">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <a href="{{path('flowber_user_signin_homepage')}}" class="btn btn-default btn-md back-to-home-button">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Retour à l'accueil
            </a>
        </div>
        <div class="col-md-6 col-sm-12">
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                <div class="form-group">
                    {% if invalid_username is defined %}
                        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                    {% endif %}
                    <label for="username">{{ 'resetting.request.username'|trans }}</label>
                    <input class="form-control" type="text" id="username" name="username" required="required" />
                </div>
                <div>
                    <input class="btn btn-default btn-info" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
                </div>
            </form>
        </div>
    </div>
</div>

