{% form_theme messageForm 'bootstrap_3_layout.html.twig' %}

<div class="modal fade" id="modalMessage" tabindex="-1" role="dialog" aria-labelledby="modalMessageLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalMessageLabel">Envoyez un message à {{ user.firstname }} {{ user.surname }}</h4>
      </div>
      <div class="modal-body">
        {{form_start(messageForm)}}
            {{form_widget(messageForm)}}
            <input type="submit" class="btn btn-primary" />
        {{form_end(messageForm)}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Envoyer</button>
      </div>
    </div>
  </div>
</div>