{% extends '::base_frontoffice.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/flowberprofile/css/profile.css') }}"/> 
{% endblock %}

{# Menus for small screens #}
{% block smallMenu %}
    {# Parent is main menu #}
    {{parent()}}
    {# Following is second menu for small screen as well #}
    <ul class="nav nav-pills nav-justified menu-secondary">
        <li><a class="scroll-anchor" href="#fiche" title="Ma fiche" span></a></li>
        <li><a class="scroll-anchor" href="#groups" title="mes groupes"><span class="glyphicon glyphicon-list"></span></a></li>
        <li><a class="scroll-anchor" href="#events" title="Mes sorties"><span class="glyphicon glyphicon-apple"></span></a></li>
        <li><a class="scroll-anchor" href="#photos" title="Mes photos"><span class="glyphicon glyphicon-picture"></span></a></li>
        <li><a class="scroll-anchor" href="#friends" title="Mes amis"><i class="fa fa-users"></i></a></li>
        <li>
            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span class="glyphicon glyphicon-option-vertical"></span></a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a class="back-top" href="#">
                        <span class="fa fa-caret-up" title="Remonter la page"></span> Remonter la page
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- END small screen menu -->
{% endblock %}

{# Preparing variables #}
{% set userCoverPath = 'bundles/flowberprofile/images/Default/coverPictureDefault.png' %} {# default User Cover #}
{% if profile.coverPicture.webPath is defined %}
    {% set userCoverPath = profile.coverPicture.webPath %}
{% endif %}
{% set userCoverAlt = 'Photo de couverture' %} {# default User Cover Alt #}
{% if profile.coverPicture.alt is defined %}
    {% set userCoverAlt = profile.coverPicture.alt %}
{% endif %}
{% set profilePicturePath = 'bundles/flowberprofile/images/Default/profilePictureDefault.png' %} {# default Profile picture #}
{% if profile.profilePicture.webPath is defined %}
    {% set profilePicturePath = profile.profilePicture.webPath %}
{% endif %}
{% set profilePictureAlt = 'Photo de profil' %} {# default Profile picture Alt #}
{% if profile.profilePicture.alt is defined %}
    {% set profilePictureAlt = profile.profilePicture.alt %}
{% endif %}

{% block body %}

    <!-- Main menu -->
    {% include 'FlowberFrontOfficeBundle::partials/common/main-connected-navbar.html.twig' %} 
                            
    <!-- User Cover -->  
    {% include 'FlowberProfileBundle::partials/myCover.html.twig' %}           
                
    <!-- Second menu -->
    {% include 'FlowberProfileBundle::partials/myProfileMenu.html.twig' %}
    
    <!-- Fiche -->
    {% include 'FlowberProfileBundle::partials/presentationSheet.html.twig' %}           
    
    <!-- My groups -->
    {% include 'FlowberProfileBundle::partials/groups.html.twig' %}           
                                
    <!-- My events-->                            
    {% include 'FlowberProfileBundle::partials/events.html.twig' %}
    
    <!-- My gallery modal-->
    {% include 'FlowberGalleryBundle::partials/galleries.html.twig' %}
    
    <!-- My friends-->                            
    {% include 'FlowberProfileBundle::partials/friends.html.twig' %}           

    <!-- Footer -->
    {% include 'FlowberFrontOfficeBundle::partials/common/footer.html.twig' %}
    
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {# Put specific JS below #}    
        
    <!--<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="{{ asset('bundles/wybefrontoffice/js/gallery/bootstrap-image-gallery.js') }}"></script>
    <script src="{{ asset('bundles/wybefrontoffice/js/gallery/blueimp-gallery.js') }}"></script>-->
{% endblock %}{# empty Twig template #}
