{% extends '::base_frontoffice.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/wybefrontoffice/css/create-event.css') }}"/> 
{% endblock %}

{% block smallMenu %}
    {{parent()}}
    {% include 'FlowberProfileBundle::partials/profileEditNavbarSmall.html.twig' %}
{% endblock %}

{% block body %}
    <!-- Header -->
    {% include 'FlowberFrontOfficeBundle::partials/common/main-connected-navbar.html.twig' %}
    
    <!-- Profile edit Cover -->  
    <div class="jumbotron create-event-cover" style="background-image: url({{asset('bundles/wybefrontoffice/images/pages/homepage-signup/cover-streetsheeps.jpg')}})">    
        <div class="container" >
            <div class="row-fluid text-center">       
                <h1 class="create-event-cover-title ">Modifiez votre profil !</h1>
            </div>
        </div>
    </div>
        
    <!-- Second navbar -->
    {% include 'FlowberProfileBundle::partials/profileEditNavbar.html.twig' %}
    
    <!-- Formulaire -->
    {% include 'FlowberProfileBundle::partials/profileForm.html.twig' %}

    <!-- Footer -->
    {% include 'FlowberFrontOfficeBundle::partials/common/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {# Put specific JS below #}
{% endblock %}