{# Main connected navbar #}

<!-- Large screen menu -->
<nav class="navbar navbar-default navbar-main navbar-sm navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#content-navbar-main" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('flowber_front_office_connected_homepage') }}">                  
                <span><img alt="Unavent Logo" src="{{asset('images/unavent/logos/unavent-logo-50-white.png')}}"></span>
                <span class="site-name">UNAVENT</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="content-navbar-main">
            
            <!---->
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left menu-search" role="search">
                    <span class="glyphicon glyphicon-search icon-search" aria-hidden="true"></span>
                    <div class="form-group">
                        <input type="text" class="form-control menu-search-input" placeholder="Rechercher">
                    </div>                        
                </form>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-hover="dropdown" data-delay="500" data-close-others="true">
                        <img class="menu-link-icon" src="{{asset('bundles/wybefrontoffice/images/icons/message-white.png')}}"/>
                    </a>
                    <ul class="dropdown-menu">
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-hover="dropdown" data-delay="500" data-close-others="true">
                        <img class="menu-link-icon" src="{{asset('bundles/wybefrontoffice/images/icons/white-bell.png')}}"/>
                    </a>
                    <ul class="dropdown-menu">
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-hover="dropdown" data-delay="500" data-close-others="true">
                        <img class="menu-link-icon" src="{{asset('bundles/wybefrontoffice/images/icons/40099-200-cogs.png')}}"/>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
                    </ul>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
    
<!-- Small screen menu -->
<div class="navmenu navmenu-default navmenu-fixed-left navmenu-main offcanvas-sm">
    <a class="navmenu-brand visible-md visible-lg" href="#">Project name</a>
    <ul class="nav navmenu-nav">
        <li class="active"><a href="./">Slide in</a></li>
        <li><a href="../navmenu-push/">Push</a></li>
        <li><a href="../navmenu-reveal/">Reveal</a></li>
        <li><a href="../navbar-offcanvas/">Off canvas navbar</a></li>
    </ul>
    <ul class="nav navmenu-nav">
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu navmenu-nav">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
            </ul>
        </li>
    </ul>
</div>
<!--<div class="navbar navbar-left navbar-push navbar-default navbar-fixed-top hidden-md hidden-lg">-->
<!-- Toggle is implemented in parent view -->
    


<!-- END small screen menu -->