{# Main connected navbar #}

<!-- Large screen menu -->
<nav class="navbar navbar-default navbar-main navbar-sm navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#content-navbar-main" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('api_get_circle', {'circleId': app.user.profile.id}) }}">                  
                <!--<span><img alt="Unavent Logo" src="{{asset('images/unavent/logos/unavent-logo-50-white.png')}}"></span>-->
                <span class="site-name">FlowBer</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="content-navbar-main">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('api_get_circle', {'circleId': app.user.profile.id}) }}"><span class="glyphicon glyphicon-user menu-icon" aria-hidden="true"></span> {{app.user.profile.title}} <span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-hover="dropdown" data-delay="500" data-close-others="true">
                        <span class="glyphicon glyphicon-list menu-icon" aria-hidden="true"></span> Groupes
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-large">
                        <ul class="dropbown-menu-col">
                            {% if navbar.group is defined %}
                                {% for group in navbar.group %}                              
                                    <li><a tabindex="-1" href="{{ path('api_get_circle', {'circleId': group.id}) }}">{{group.title}}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                        <ul class="dropbown-menu-col">
                            <li><a tabindex="-1" href="{{ path('flowber_group_create') }}">Créer un groupe</a></li>
                            <li><a tabindex="-1" href="{{ path('flowber_group_research') }}">Chercher un groupe!</a></li>
                            <li><a tabindex="-1" href="{{ path('flowber_all_group', {'id': app.user.profile.id}) }}">Voir tous mes groupes </a></li>
                        </ul>
                    </ul>
                </li>
                <li class="dropdown">  
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="500" data-close-others="true">
                        <span class="glyphicon glyphicon-apple menu-icon" aria-hidden="true"></span> <span>Sorties</span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-large">
                        <ul class="dropbown-menu-col">
                            {% if navbar.group is defined %}
                                {% for event in navbar.event %}                              
                                    <li><a tabindex="-1" href="{{ path('api_get_circle', {'circleId': event.id}) }}">{{event.title}}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                        <ul class="dropbown-menu-col">
                            <li><a tabindex="-1" href="{{ path('flowber_create_event_homepage') }}">Créer une sortie</a></li>
                            <li><a tabindex="-1" href="{{ path('flowber_event_search') }}">Chercher une sortie</a></li>
                            <li><a tabindex="-1" href="{{ path('flowber_all_event_homepage', {'id': app.user.profile.id}) }}">Voir toutes mes sorties </a></li>
                        </ul>
                    </ul>
                </li>
            </ul>
            <!---->
            <ul class="nav navbar-nav navbar-right">
                <form action="{{path('flowber_search_all')}}" method="GET" class="navbar-form navbar-left menu-search" role="search">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default navbar-search-button" type="submit"><span class="glyphicon glyphicon-search icon-search" aria-hidden="true"></span></button>
                        </span>
                        <input type="text" name="keywords" class="form-control menu-search-input" placeholder="Rechercher" required="required">
                    </div>                        
                </form>
                <li class="dropdown">
                    <a href="{{ path('flowber_privatemessage_received_homepage')}}">
                        <img class="menu-link-icon" src="{{asset('bundles/wybefrontoffice/images/icons/message-white.png')}}"/>
                        {% if navbar.messageNumber != 0 %}
                            <span class="badge">{{navbar.messageNumber}}</span>
                        {% endif %}
                    </a>
                </li>
                <li class="dropdown">
                    <a href="{{ path('flowber_request')}}">
                        <img class="menu-link-icon" src="{{asset('assets/images/FrontOfficeBundle/icons/request.png')}}"/>
                        {% if navbar.requestNumber != 0 %}
                            <span class="badge">{{navbar.requestNumber}}</span>
                        {% endif %}
                    </a>
                </li>
                <li class="dropdown">
                    <a href="{{path('flowber_notification')}}">
                        <img class="menu-link-icon" src="{{asset('bundles/wybefrontoffice/images/icons/white-bell.png')}}"/>
                        {% if navbar.notificationNumber != 0 %}
                            <span class="badge">{{navbar.notificationNumber}}</span>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-hover="dropdown" data-delay="500" data-close-others="true">
                        <img class="menu-link-icon" src="{{asset('bundles/wybefrontoffice/images/icons/40099-200-cogs.png')}}"/>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
                    </ul>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
    
<!-- Small screen menu -->
<div class="navmenu navmenu-default navmenu-fixed-left navmenu-main offcanvas-sm hidden-lg hidden-md">
    <a class="navmenu-brand" href="#">FlowBer</a>
    <ul class="nav navmenu-nav">
        <li class="active"><a href="{{ path('wybe_front_office_profile') }}"><span class="glyphicon glyphicon-user menu-icon" aria-hidden="true"></span> Profil <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Choix</a></li>
        <li>
            <ul class="nav navmenu-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-list menu-icon" aria-hidden="true"></span> Groupes <b class="caret"></b></a>
                    <ul class="dropdown-menu navmenu-nav">
                        <li><a tabindex="-1" href="{{ path('wybe_front_office_groups', {'groupNameSlug': 'group1'}) }}">Groupe 1</a></li>
                        <li><a tabindex="-1" href="{{ path('wybe_front_office_create_group') }}">Créer un groupe</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="{{ path('wybe_front_office_look_for_group') }}">Chercher un groupe</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>            
        </li>
        <li>
            <ul class="nav navmenu-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-apple menu-icon" aria-hidden="true"></span><span class="badge">4</span> Sorties <b class="caret"></b></a>
                    <ul class="dropdown-menu navmenu-nav">
                        <li><a tabindex="-1" href="{{ path('api_get_circle', {'circleId': '1'}) }}">Evenement 1</a></li>
                        <li><a tabindex="-1" href="{{ path('flowber_create_event_homepage') }}">Créer un evenement</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="{{ path('wybe_front_office_look_for_event') }}">Chercher un evenement</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>            
        </li>
        <li>
            <ul class="nav navmenu-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-envelope"></span> Messages privés <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu navmenu-nav">
                        <li><a href="#">Vous n'avez pas de nouveaux messages</a></li>
                        <li><a href="{{ path('flowber_privatemessage_received_homepage', {'circleId': app.user.profile.id}) }}">Voir tous les messages</a></li>
                    </ul>
                </li>
            </ul>            
        </li>
        <li>
            <ul class="nav navmenu-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-bell"></span> Notifications <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu navmenu-nav">
                        <li><a href="{{ path('wybe_front_office_notif', {'notifNameSlug': 'toutes'}) }}">Toutes les notification</a></li>
                        <li><a href="{{ path('wybe_front_office_notif', {'notifNameSlug': 'notif1'}) }}">notif 1</a></li>
                        <li><a href="{{ path('wybe_front_office_notif', {'notifNameSlug': 'notif2'}) }}">notif 2</a></li>
                    </ul>
                </li>
            </ul>            
        </li>        
        <li>
            <ul class="nav navmenu-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-cog"></span> Paramètres <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu navmenu-nav">
                        <li><a href="{{ path('wybe_front_office_parameters') }}">Paramètres</a></li>
                        <li><a href="{{ path('wybe_front_office_signin') }}">Se déconnecter</a></li>
                    </ul>
                </li>
            </ul>            
        </li>        
    </ul>
    
</div>
<!--<div class="navbar navbar-left navbar-push navbar-default navbar-fixed-top hidden-md hidden-lg">-->
<!-- Toggle is implemented in parent view -->
    


<!-- END small screen menu -->
