{# empty Twig template #}
<div class="container group-container">
        <div class="row">
            <div class="col-md-5">
                <div class="group-details">
                    <h2>L'équipe de Football des Pruniers</h2>
                    <table>
                        <tr>
                            <td class="icon"><img src="{{asset('bundles/wybefrontoffice/images/icons/host.png')}}" alt="Organisateur"/></td>
                            <td>créé par <span class="group-details-host">Aurélien BONAZZI</span> le 01 Septembre 2015 à 15h00</td>
                        </tr>
                        <tr>
                            <td class="icon"><img src="{{asset('bundles/wybefrontoffice/images/icons/category.png')}}" alt="categories"/></td>
                            <td>golf, cinema, poterie</td>
                        </tr>                        
                        <tr>
                            <td class="icon"><img src="{{asset('bundles/wybefrontoffice/images/icons/participants.png')}}" alt="Participants"/></td>
                            <td>
                                8 membres dont 1 ami<br/>
                                <span class="group-details-participant">Marie BOIVENT</span>, <span class="group-details-participant">Equina YOU</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="icon"><img src="{{asset('bundles/wybefrontoffice/images/icons/description.png')}}" alt="Description de l'évènement"/></td>
                            <td>Bla bla bla</td>
                        </tr>
                        <tr>
                            <td class="icon"><img src="{{asset('bundles/wybefrontoffice/images/icons/mail.png')}}" alt="Envoyer un message à l'organisteur"/></td>
                            <td>
                                Envoyer un e-mail au responsable du groupe<br/>
                                <form>
                                    <textarea id="newMailToHost" class="group-mail" name="mail-to-host" textholder="Votre message"></textarea>
                                    <button class="btn btn-default" type="submit">Envoyer</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="group-blog">
                <div class="group-blog-new-post">
                    <ul id="groupNavbar" class="nav nav-tabs nav-justified group-blog-new-post-navbar">
                        <li role="presentation" class="group-blog-new-post-navbar-option active" aria-controls="newpost" role="tab" data-toggle="tab">
                            <a href="#newpost"><img class="group-blog-new-post-navbar-option-icon" src="{{asset('bundles/wybefrontoffice/images/icons/new-post.png')}}" alt=""/><span class="group-blog-new-post-navbar-option-label"> Message</span></a>
                        </li>
                        <li role="presentation" class="group-blog-new-post-navbar-option" aria-controls="newphoto" role="tab" data-toggle="tab">
                            <a href="#newphoto"><img class="group-blog-new-post-navbar-option-icon" src="{{asset('bundles/wybefrontoffice/images/icons/photo.png')}}" alt=""/><span class="group-blog-new-post-navbar-option-label"> Photo</span></a>
                        </li>
                        <li role="presentation" class="group-blog-new-post-navbar-option" aria-controls="newevent" role="tab" data-toggle="tab" onclick="reloadMap();">
                            <a href="#newevent"><img class="group-blog-new-post-navbar-option-icon" src="{{asset('bundles/wybefrontoffice/images/icons/tag-white.png')}}" alt=""/><span class="group-blog-new-post-navbar-option-label"> Tagger</span></a>
                        </li>
                    </ul>
                     <!-- Tab panes -->
                    <div class="tab-content group-blog-new-post-content">
                        <div role="tabpanel" class="tab-pane active" id="newpost">
                            <textarea class="group-blog-new-post-content-text" id="newPostTextArea" placeholder="Ecrire un message"></textarea>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="newphoto">
                            Uploader une photo
                        </div>
                        <div role="tabpanel" class="tab-pane group-blog-new-post-event" id="newevent">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="event-title" class="col-sm-2 control-label">Titre</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="event-title" placeholder="Exemple : Football">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="event-tease" class="col-sm-2 control-label">Phrase d'accroche</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="event-category" placeholder="Choisir une phrase d'accroche">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="event-category" class="col-sm-2 control-label">Catégories</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="event-category" placeholder="Choisir une catégorie">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="event-description" class="col-sm-2 control-label">Description</label>
                                    <div class="col-sm-10">
                                        <textarea id="event-description" class="form-control" textholder="Description"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="event-location" class="col-sm-2 control-label">Lieu</label>
                                    <div class="col-sm-10">
                                        <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
                                       <div id="map"></div>           
                                   </div> 
                                </div> 
                                 <div class="form-group">
                                    <label for="event-place-name" class="col-sm-2 control-label">Nom</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="event-place-name" placeholder="">
                                    </div>
                                </div>                     
                                <div class="form-group">
                                    <label for="event-address" class="col-sm-2 control-label">Adresse</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="event-address" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="event-city" class="col-sm-2 control-label">Ville</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="event-city" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="event-zipcode" class="col-sm-2 control-label">Code postal</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="event-zipcode" placeholder="">
                                    </div>
                                    <label for="event-country" class="col-sm-2 control-label">Pays</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="event-country" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="event-date" class="col-sm-2 control-label">Date</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" id="event-date" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="event-time" class="col-sm-2 control-label">Heure</label>
                                    <div class="col-sm-10">
                                        <input type="time" class="form-control" id="event-time" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Visibilité</label>
                                    <div class="col-sm-10">
                                        <label class="radio-inline">
                                            <input type="radio" name="event-permission" id="event-permission-public" value="public"> Public
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="event-permission" id="event-permission-private" value="private"> Privé
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">                
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <label>
                                            <input type="checkbox" name="event-invite-permission"> Autoriser les invités à inviter des personnes
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">                
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default event-submit">Continuer</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="group-blog-new-post-footer">
                        <div class="group-blog-new-post-footer-details">

                        </div>
                        <div class="group-blog-new-post-footer-confirm text-right">
                            <button type="submit" class="btn btn-default btn-red">Envoyer</button>
                        </div>
                    </div>
                </div>
                <ul class="group-blog-posts">     
                    <li class="group-blog-post">
                        <div class="row group-blog-post-header">
                            <div class="col-xs-9 group-blog-post-header-info">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="group-blog-post-header-avatar" style="background-image: url('{{asset('images/frontoffice/user/profile-pictures/marie-brussels-ice-cream.jpg')}}')"></div>
                                    </div>
                                    <div class="media-body">
                                        <a class="group-blog-header-post-info-poster" href="#">Marie BOIVENT</a><br/>
                                        <span class="group-blog-post-header-info-time">Le 20 Août à 15h59</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 group-blog-post-header-rating">
                                <img class="" src="{{asset('bundles/wybefrontoffice/images/icons/like-heart.png')}}" alt="J'aime"/> J'aime<br/>
                                <span class="group-blog-post-header-rating-count">4 personnes aiment</span>
                            </div>
                        </div>
                        <div class="group-blog-post-content">
                            <p>Bonjour ceci est un poste hahaha !!! Quoi? Bonjour ceci est un poste hahaha !!! Quoi? Bonjour ceci est un poste hahaha !!! Quoi?</p>
                        </div>
                        <ul class="media-list group-blog-post-comments">
                            <li class="media group-blog-post-comment">
                                <div class="media-left">
                                    <div class="group-blog-post-comment-avatar" style="background-image: url('{{asset('images/frontoffice/user/profile-pictures/marie-brussels-ice-cream.jpg')}}')"></div>
                                </div>
                                <div class="media-body">
                                    <div class="group-blog-post-comment-poster">
                                        <a href="#">Marie Boivent</a>
                                    </div>
                                    <div class="group-blog-post-comment-time">
                                        <span>Le 21 Juillet à 15h21</span>
                                    </div>
                                    <div class="group-blog-post-comment-content">
                                        <p>Il était un petit navire qui avait beaucoupé navigué ohé ohé ! Ohé ohé matelots! Matelots nagivuent sur les flooooots!</p>
                                    </div>
                                </div>
                                <hr/>
                            </li>                            
                            <li class="media group-blog-post-comment">
                                <div class="media-left">
                                    <div class="group-blog-post-comment-avatar" style="background-image: url('{{asset('images/frontoffice/user/profile-pictures/marie-brussels-ice-cream.jpg')}}')"></div>
                                </div>
                                <div class="media-body">
                                    <div class="group-blog-post-comment-poster">
                                        <a href="#">Marie Boivent</a>
                                    </div>
                                    <div class="group-blog-post-comment-time">
                                        <span>Le 21 Juillet à 15h21</span>
                                    </div>
                                    <div class="group-blog-post-comment-content">
                                        <p>Il était un petit navire qui avait beaucoupé navigué ohé ohé ! Ohé ohé matelots! Matelots nagivuent sur les flooooots!</p>
                                    </div>
                                </div>
                                <hr/>
                            </li>
                            <li class="media group-blog-post-comment">
                                <div class="media-left">
                                    <div class="group-blog-post-comment-avatar" style="background-image: url('{{asset('images/frontoffice/user/profile-pictures/marie-brussels-ice-cream.jpg')}}')"></div>
                                </div>
                                <div class="media-body">
                                    <div class="group-blog-post-comment-poster">
                                        <a href="#">Marie Boivent</a>
                                    </div>
                                    <div class="group-blog-post-comment-time">
                                        <span>Le 21 Juillet à 15h21</span>
                                    </div>
                                    <div class="group-blog-post-comment-content">
                                        <p>Il était un petit navire qui avait beaucoupé navigué ohé ohé ! Ohé ohé matelots! Matelots nagivuent sur les flooooots!</p>
                                    </div>
                                </div>
                                <hr/>
                            </li>
                        </ul>
                        <form>                        
                            <div class="media group-blog-post-new-comment">
                                <div class="media-left">
                                    <div class="group-blog-post-new-comment-avatar" style="background-image: url('{{asset('images/frontoffice/user/profile-pictures/marie-brussels-ice-cream.jpg')}}')"></div>
                                </div>
                                <div class="media-body group-blog-post-new-comment-field">
                                    <textarea type="text" name="group-blog-new-post-new-comment"></textarea>
                                    <button class="btn btn-default btn-red" type="submit">Valider</button>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

