{# FlowberGalleryBundle::partials/gallery-thumbnail.html.twig #}
<div id="gallery-{{gallery.id}}" class="thumbnail gallery-thumbnail">
    <div class="caption gallery-name-frame" style="color:black">
        <a tabindex="-1" href="{{ path('flowber_circle_gallery', {'circleId' : circle.id, 'galleryId' : gallery.id}) }}" title="voir la galerie {{gallery.title}}">
            <h3 class="gallery-name">{{gallery.title}}</h3>
        </a>
    </div>
    <div class="gallery-image-frame">
        <a tabindex="-1" href="{{ path('flowber_circle_gallery', {'circleId' : circle.id, 'galleryId' : gallery.id}) }}" title="voir la galerie {{gallery.title}}">
            {% if gallery.photos.1 == 'non'%}
                <img class="gallery-image-featured" src="{{asset(gallery.photos.0 | imagine_filter('generic_thumb'))}}" alt=""/>
            {% else %}
                <img class="gallery-image-featured" src="{{asset(gallery.photos.0 | imagine_filter('generic_thumb'))}}" alt="" onmouseover="this.src='{{asset(gallery.photos.1 | imagine_filter('generic_thumb'))}}'" onmouseout="this.src='{{asset(gallery.photos.0 | imagine_filter('generic_thumb'))}}'"/>      
            {% endif %}            
            
        </a>
            {% if gallery.canDelete %}
                <span class="gallery-image-frame-actions" name="deleteGalleryButton" data-toggle="modal" data-target="#modal-delete-gallery">
                    <span class="glyphicon glyphicon-trash gallery-image-frame-actions-delete" data-toggle="tooltip" data-placement="top" title="Supprimer la galerie" ></span>
                    <input type="hidden" name="delete-gallery-id" value="{{gallery.id}}"/>  
                </span>
            {% endif %}
    </div>
    <div class="caption text-center ">
        <p class="gallery-description">
            {{gallery.creationDate}}
        </p>
        <a tabindex="-1" href="{{ path('flowber_circle_gallery', {'circleId' : circle.id, 'galleryId' : gallery.id}) }}" title="voir la galerie {{gallery.title}}">
            <button class="btn btn-default font-white gallery-join-button"> 
                <span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Voir la galerie 
            </button>
        </a>
    </div>
</div>
