{% if anchor is not defined or anchor is empty  %}
{% set anchor = "" %}
{% endif %}

<div class="container gallery-container">
    <div class="row">
        <a href="{{path('flowber_circle_galleries', {'id':circle.id, 'anchor':anchor})}}" class="btn btn-default">Retour aux galeries</a>
    </div>
    <div class="row">
        <h1>{{gallery.title}}</h1>
        <h4>Ajouté le {{gallery.creationDate|date("d/m/y H:i")}}</h4>
        <h3>{{gallery.description}}</h3>
    </div>
    <div class="row gallery-image-list">
        <div class="col-xs-6 col-md-3 text-center">
            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#addPhotoModal"><i class="fa fa-upload" aria-hidden="true"></i> Ajouter des photos</button>
        </div>
        {% for photo in gallery.photos %}
            {% if photo.isDeleted() == false %}
            <div id="photo-{{photo.id}}" class="col-xs-6 col-md-3">
                <!--<div class="gallery-image-preview" style="background-image:url('{{asset(photo.getWebPath())}}');"
                    onclick="afficheGallery(this);" data-toggle="modal" data-target="#myModal">

                </div>-->
                <div class="thumbnail">
                <div class="gallery-image-preview-frame"  >
                    <img onclick="afficheGallery(this);" data-toggle="modal" data-target="#myModal" class="gallery-image-preview" src="{{asset(photo.getWebPath() | imagine_filter('generic_thumb'))}}" alt=""/>
                    <span class="gallery-image-frame-actions" name="deletePhotoButton" data-toggle="modal" data-target="#modal-delete-photo">
                        <form style="display: none;" name="delete-photo-form" action="{{path('api_delete_photo')}}" method="POST">
                            <span class="cancel-delete-photo-form">Annuler |</span>
                            <button type="submit" class="btn-link delete-photo-form-confirm">Supprimer</button>
                            <input type="hidden" name="delete-photo-id" value="{{photo.id}}"/> 
                            <input name="_method" value="DELETE" type="hidden">
                        </form>       
                        <span name="trigger-delete-photo-form" class="glyphicon glyphicon-trash gallery-image-frame-actions-delete" data-toggle="tooltip" data-placement="top" title="Supprimer la photo" ></span>
                    </span>
                </div>
                </div>

            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <a href="{{path('flowber_circle_galleries', {'id':circle.id, 'anchor':anchor})}}" class="btn btn-default">Retour aux galeries</a>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{gallery.title}}</h4>
            </div>
            <div class="modal-body text-center">
                <img id="imageSlide" src="#" style="width:80% ; height:70%;"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="previousPic">Précédent</button>
                <button type="button" class="btn btn-default" id="nextPic">Suivant</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

{% if galleryCanDelete %}
    {% include 'FlowberGalleryBundle::partials/modalAddPhoto.html.twig' %}
{% endif %}