{% if anchor is not defined or anchor is empty  %}
{% set anchor = "" %}
{% endif %}

<div class="container gallery-container">
    <div class="row">
        <a href="{{path('flowber_circle_galleries', {'id':circle.id, 'anchor':anchor})}}" class="btn btn-default">Retour aux galeries</a>
    </div>
    <div class="row">
        <h1>{{gallery.title}}</h1>
        <h4>Ajouté le {{gallery.creationDate|date("d/m/y H:i")}}</h4>
        <h3>{{gallery.description}}</h3>
    </div>
    <div class="row gallery-image-list">            
        {% for photo in gallery.photos %}
        <div class="col-xs-6 col-md-3 gallery-image-preview-frame">
            <div class="gallery-image-preview" style="background-image:url('{{asset(photo.getWebPath())}}');"
                onclick="afficheGallery(this);" data-toggle="modal" data-target="#myModal">
                <span class="gallery-image-frame-actions" name="deletePhotoButton" data-toggle="modal" data-target="#modal-delete-photo">
                    <span class="glyphicon glyphicon-trash gallery-image-frame-actions-delete" data-toggle="tooltip" data-placement="top" title="Supprimer la photo" ></span>
                    <input type="hidden" name="delete-photo-id" value="{{photo.id}}"/>  
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <a href="{{path('flowber_circle_galleries', {'id':circle.id, 'anchor':anchor})}}" class="btn btn-default">Retour aux galeries</a>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{gallery.title}}</h4>
            </div>
            <div class="modal-body text-center">
                <img id="imageSlide" src="#" style="width:80% ; height:70%;"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="previousPic">Précédent</button>
                <button type="button" class="btn btn-default" id="nextPic">Suivant</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>


<script src="{{ asset('assets/js/GalleryBundle/gallery.js') }}"></script>
