{# Main connected navbar #}

<nav class="navbar navbar-default navbar-main navbar-sm navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#content-navbar-main" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('wybe_front_office_profile') }}">                  
                <span><img alt="Unavent Logo" src="{{asset('images/unavent/logos/unavent-logo-50-white.png')}}"></span>
                <span class="site-name">UNAVENT</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="content-navbar-main">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('wybe_front_office_profile') }}"><span class="glyphicon glyphicon-user menu-icon" aria-hidden="true"></span> Profil <span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-hover="dropdown" data-delay="500" data-close-others="true">
                        <span class="glyphicon glyphicon-list menu-icon" aria-hidden="true"></span> Groupes
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <ul class="dropbown-menu-col">
                            <li><a tabindex="-1" href="{{ path('wybe_front_office_groups', {'groupNameSlug': 'group1'}) }}">Groupe 1</a></li>
                            <li><a tabindex="-1" href="{{ path('wybe_front_office_groups', {'groupNameSlug': 'group2'}) }}">Groupe 2</a></li>
                            <li><a tabindex="-1" href="{{ path('wybe_front_office_groups', {'groupNameSlug': 'group3'}) }}">Groupe 4</a></li>
                            <li><a tabindex="-1" href="{{ path('wybe_front_office_groups', {'groupNameSlug': 'group4'}) }}">Groupe 5</a></li>
                        </ul>
                        <ul class="dropbown-menu-col">
                            <li class="divider"></li>
                            <li><a tabindex="-1" href="{{ path('wybe_front_office_create_group') }}">Créer un groupe</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" href="{{ path('wybe_front_office_look_for_group') }}">Chercher un groupe</a></li>
                        </ul>
                    </ul>
                </li>
                <li class="dropdown">  
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="500" data-close-others="true">
                        <span class="glyphicon glyphicon-apple menu-icon" aria-hidden="true"></span><span class="badge">4</span> <span>Evènements</span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <ul class="dropbown-menu-col">
                            <li><a tabindex="-1" href="{{ path('wybe_front_office_events', {'eventNameSlug': 'event1'}) }}">Evenement 1</a></li>
                            <li><a tabindex="-1" href="{{ path('wybe_front_office_events', {'eventNameSlug': 'event2'}) }}">Evenement 2</a></li>
                            <li><a tabindex="-1" href="{{ path('wybe_front_office_events', {'eventNameSlug': 'event3'}) }}">Evenement 4</a></li>
                            <li><a tabindex="-1" href="{{ path('wybe_front_office_events', {'eventNameSlug': 'event4'}) }}">Evenement 5</a></li>
                        </ul>
                        <ul class="dropbown-menu-col">
                            <li class="divider"></li>
                            <li><a tabindex="-1" href="{{ path('wybe_front_office_create_event') }}">Créer un evenement</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" href="{{ path('wybe_front_office_look_for_event') }}">Chercher un evenement</a></li>
                        </ul>
                    </ul>
                </li>
            </ul>
            <!---->
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left menu-search" role="search">
                    <span class="glyphicon glyphicon-search icon-search" aria-hidden="true"></span>
                    <div class="form-group">
                        <input type="text" class="form-control menu-search-input" placeholder="Rechercher">
                    </div>                        
                </form>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-hover="dropdown" data-delay="500" data-close-others="true">
                        <img class="menu-link-icon" src="{{asset('bundles/wybefrontoffice/images/icons/message-white.png')}}"/>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Vous n'avez pas de nouveaux messages</a></li>
                        <li><a href="#">Voir tous les messages</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-hover="dropdown" data-delay="500" data-close-others="true">
                        <img class="menu-link-icon" src="{{asset('bundles/wybefrontoffice/images/icons/white-bell.png')}}"/>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('wybe_front_office_notif', {'notifNameSlug': 'toutes'}) }}">Toutes les notification</a></li>
                        <li><a href="{{ path('wybe_front_office_notif', {'notifNameSlug': 'notif1'}) }}">notif 1</a></li>
                        <li><a href="{{ path('wybe_front_office_notif', {'notifNameSlug': 'notif2'}) }}">notif 2</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-hover="dropdown" data-delay="500" data-close-others="true">
                        <img class="menu-link-icon" src="{{asset('bundles/wybefrontoffice/images/icons/40099-200-cogs.png')}}"/>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('wybe_front_office_parameters') }}">Paramètres</a></li>
                        <li><a href="{{ path('wybe_front_office_signin') }}">Se déconnecter</a></li>
                    </ul>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
    
