{% form_theme postWithEventForm 'bootstrap_3_layout.html.twig' %}

<div role="tabpanel" class="tab-pane group-blog-new-post-event" id="newevent">
    <form action="{{ path('add_post_with_event', { 'group_id' : group.id } ) }}" method="post" {{ form_enctype(postWithEventForm) }}> 
        <div class="form-group row">
            <label for="event-title" class="col-sm-3 control-label text-right">Ajouter un commentaire</label>
            <div class="col-sm-9">
                {{form_widget(postWithEventForm.message)}}
            </div>
        </div>
        {% if form_errors(postWithEventForm) %}
        <div class="form-error-custom">
            {{form_errors(postWithEventForm)}}                
        </div>
        {% endif %}
        {% if form_errors(postWithEventForm.circle.maxParticipants) %}
            <div class="form-error-custom">
            {{form_errors(postWithEventForm.circle.maxParticipants)}}
            </div>
            {% endif %}
        <div class="form-group row">
            <label for="event-title" class="col-sm-3 control-label text-right">Titre *</label>
            <div class="col-sm-9">
                {{form_widget(postWithEventForm.circle.title)}}
            </div>
        </div>
        <div class="form-group row">
            <label for="event-tease" class="col-sm-3 control-label text-right">Phrase d'accroche</label>
            <div class="col-sm-9">
                {{form_widget(postWithEventForm.circle.subtitle)}}
            </div>
        </div>
        <div class="form-group row">
            <label for="event-category" class="col-sm-3 control-label text-right">Catégories</label>            
            <div class="col-sm-9">
                {{form_widget(postWithEventForm.circle.categories)}}
            </div>
        </div>             
        <div class="form-group row">
            <label for="event-description" class="col-sm-3 control-label text-right">Description</label>
            <div class="col-sm-9">
                {{form_widget(postWithEventForm.circle.description)}}
            </div>
        </div>
        <div class="form-group row">
            <label for="event-description" class="col-sm-3 control-label text-right">{{form_label(postWithEventForm.circle.maxParticipants)}}</label>
            <div class="col-sm-9">
                {{form_widget(postWithEventForm.circle.maxParticipants)}}
            </div>
        </div>
        <div class="form-group row">
            <label for="event-location" class="col-sm-3 control-label text-right">Lieu</label>
            <div class="col-sm-9">
                <input id="pac-input" class="autocomplete-map-controls" type="text"
                    placeholder="Enter a location">
               <div id="map" class="gmap"></div>           
           </div> 
        </div> 
         <div class="form-group row">
            <label for="event-place-name" class="col-sm-3 control-label text-right">Nom</label>
            <div class="col-sm-9">
                {{form_widget(postWithEventForm.circle.postalAddress.name)}}
            </div>
        </div>                     
        <div class="form-group row">
            <label for="event-address" class="col-sm-3 control-label text-right">Adresse</label>
            <div class="col-sm-9">
                {{form_widget(postWithEventForm.circle.postalAddress.address)}}
            </div>
        </div>
        <div class="form-group row">
            <label for="event-city" class="col-sm-3 control-label text-right">Ville</label>
            <div class="col-sm-9">
                {{form_widget(postWithEventForm.circle.postalAddress.city)}}
            </div>
        </div>
        <div class="form-group row">
            <label for="event-zipcode" class="col-sm-3 control-label  text-right">Code postal</label>
            <div class="col-sm-3">
                {{form_widget(postWithEventForm.circle.postalAddress.zipcode)}}
            </div>
            <label for="event-country" class="col-sm-2 control-label  text-right">Pays</label>
            <div class="col-sm-4">
                {{form_widget(postWithEventForm.circle.postalAddress.country)}}
            </div>
        </div>
        <div class="form-group row">
            <label for="event-date" class="col-sm-3 control-label  text-right">Début *</label>
            <div class="col-sm-9 form-inline">
                <div class="form-inline">
                    <div class="input-group">
                        {{form_widget(postWithEventForm.circle.startDate, {'attr': {'placeholder': 'Date de début'}})}} 
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                    <div class="input-group">
                        {{form_widget(postWithEventForm.circle.startTime, {'attr': {'placeholder': 'Heure de début'}})}}
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="event-date" class="col-sm-3 control-label  text-right">Fin</label>
            <div class="col-sm-9 form-inline">
                <div class="form-inline">
                    <div class="input-group">
                        {{form_widget(postWithEventForm.circle.endDate, {'attr': {'placeholder': 'Date de fin'}})}} 
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                    <div class="input-group">                            
                        {{form_widget(postWithEventForm.circle.endTime, {'attr': {'placeholder': 'Heure de fin'}})}}
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>                        
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label  text-right">Visibilité *</label>
            <div class="col-sm-9">
                {{form_widget(postWithEventForm.circle.privacy, {'label_attr':{'class':'radio-inline'}})}}
            </div>
        </div>
        {{form_widget(postWithEventForm.circle.postalAddress.coordinates)}}
        <div class="form-group row">                
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default event-submit">Continuer</button>
            </div>
        </div>
        {{ form_rest(postWithEventForm) }}
    </form>
</div>