{% set currentProfilePicturePath = 'assets/images/ProfileBundle/Default/profilePictureDefault.png' %} {# default User Cover #}
{% if app.user.profile.profilePicture is not null %}
    {% set currentProfilePicturePath = app.user.profile.profilePicture.getWebPath() %}
{% endif %} 
{% set counter = 0 %}

<ul class="generic-blog-posts" >     
    {% for post in posts %}
        {% set postProfilePicturePath = 'assets/images/ProfileBundle/Default/profilePictureDefault.png' %} {# default User Cover #}
        {% if post.createdBy.profile.profilePicture is not null %}
            {% set postProfilePicturePath = post.createdBy.profile.profilePicture.getWebPath() %}
        {% endif %} 
        <li id="post-{{post.id}}" class="generic-blog-post">
            <div class="row">
                <div class="col-xs-12 text-right">
                    {% if (post.createdBy == app.user) %}
                    <a name="postDeleteButton" data-toggle="modal" data-target="#modal-delete-post" href="#">
                        <span class="glyphicon glyphicon-trash generic-post-delete-icon"></span>
                        <input type="hidden" name="delete-post-id" value="{{post.id}}" />
                        <input type="hidden" name="delete-post-origin-entity" value="group" />
                        <input type="hidden" name="delete-post-origin-id" value="{{id}}" />
                    </a>
                    {% endif %}
                </div>                
            </div>
            <div class="row generic-blog-post-header">
                <div class="col-xs-10 group-blog-post-header-info">
                    <div class="media">
                        <div class="media-left">
                            <div class="media-object group-blog-post-header-avatar" style="background-image: url('{{asset(postProfilePicturePath)}}')"></div>
                        </div>
                        <div class="media-body">
                            <a class="group-blog-header-post-info-poster" href="{{ path('flowber_user_profile', { 'id' : post.createdBy.id } ) }}">
                                {{post.createdBy.firstname}} {{post.createdBy.surname}}
                            </a>
                            <br/>
                            <span class="group-blog-post-header-info-time">{{ (post.creationDate)|date("\\l\\e d/m/Y \à H:i")}} </span><br/>
                            <span id="post-rating-display-{{post.id}}" class="group-blog-post-header-info-rating">
                                {% if (post.likes|length <= 1) %} 
                                    <span name="post-like-count">{{(post.likes)|length}}</span> <span name="post-like-label"> personne aime</span>
                                {% else %}    
                                    <span name="post-like-count">{{(post.likes)|length}}</span> <span name="post-like-label"> personnes aiment</span>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 generic-post-header-actions">
                    {% set userLike = 0 %}
                    
                    {% if (post.likes|length >= 1) %}
                        {% for like in post.likes %}
                            {% if like.createdBy == app.user %}
                               {% set userLike = like.id %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    
                    <form name="form-like" method="post" action="{% if userLike != 0 %}{{path('api_delete_like', {'likeId':userLike})}}{% else %}{{path('api_post_like_post')}}{% endif %}">
                        <input name="post-id" value="{{post.id}}" type="hidden" />
                        {% if userLike != 0 %}{# for like deletion #}
                        <input name="_method" value="DELETE" type="hidden">
                        {% endif %}
                        
                        <button {% if userLike == 0 %}hidden{% endif %} onmouseenter='likeSwitchHover("post", "DeleteLike",{{post.id}})' onmouseleave='likeSwitchHover("post","DeleteLike",{{post.id}})' class="generic-post-like-button" type="submit" name="deleteLike">
                            <span id="postDeleteLike{{post.id}}" class="glyphicon glyphicon-heart generic-post-header-actions-icon generic-post-header-actions-icon-like"></span><span class="generic-post-header-actions-icon-label hidden-xs hidden-sm"> Je n'aime plus</span>                          
                        </button>   
                        <button {% if userLike != 0 %}hidden{% endif %} onmouseenter='likeSwitchHover("post", "Like",{{post.id}})'  onmouseleave='likeSwitchHover("post","Like",{{post.id}})' class="generic-post-like-button" type="submit" name="addLike">
                            <span id="postLike{{post.id}}"  class="glyphicon glyphicon-heart-empty generic-post-header-actions-icon generic-post-header-actions-icon-like"></span><span class="generic-post-header-actions-icon-label hidden-xs hidden-sm"> J'aime</span>
                        </button>                        
                    </form>
                </div>
            </div>
            <div class="group-blog-post-content">
                <p>{{post.message}}</p>
                {% if (post.event != null) %}
                    il y a un event                     
                {% endif %}
            </div>
            {% for comment in post.getComments() %}
                {% set commentProfilePicturePath = 'assets/images/ProfileBundle/Default/profilePictureDefault.png' %} {# default User Cover #}
                {% if comment.createdBy.profile.profilePicture is not null %}
                    {% set commentProfilePicturePath = comment.createdBy.profile.profilePicture.getWebPath() %}
                {% endif %} 
                <ul class="media-list generic-blog-post-comments">
                    <li id="comment-{{comment.id}}" class="media generic-blog-post-comment">
                        <div class="media-left">
                            <div class="group-blog-post-comment-avatar" style="background-image: url('{{asset(commentProfilePicturePath)}}')"></div>
                        </div>
                        <div class="media-body">
                            <div class="row">
                                <div class="col-xs-9 col-md-8">
                                    <div class="group-blog-post-comment-poster">
                                        <a href="{{ path('flowber_user_profile', { 'id' : comment.createdBy.id } ) }}">{{comment.createdBy.firstname}} {{comment.createdBy.surname}}</a>
                                    </div>

                                    <div class="group-blog-post-comment-time">
                                        <span>{{ (comment.creationDate)|date("\\l\\e d/m/Y \à H:i")}}</span>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-md-4 text-right">
                                {% if (comment.createdBy == app.user) %}
                                    <a name="commentDeleteButton" data-toggle="modal" data-target="#modal-delete-comment" href="#">
                                        <span class="glyphicon glyphicon-trash generic-comment-action-icon"></span>
                                        <input type="hidden" name="delete-comment-id" value="{{comment.id}}" />                                    
                                    </a>                                    
                                {% endif %}
                                </div>
                            </div>
                            <div class="group-blog-post-comment-content">
                                <p>{{comment.message}}</p>
                            </div>
                        </div>
                        <hr/>
                    </li>                            
                </ul>
            {% endfor %}
            <form action="{{ path('add_comment_post', { 'post_id' : post.id } ) }}" method="post" {{ form_enctype(commentForm[counter]) }}>                
                <div class="media group-blog-post-new-comment">
                    <div class="media-left">
                        <div class="group-blog-post-new-comment-avatar" style="background-image: url('{{asset(currentProfilePicturePath)}}')"></div>
                    </div>
                    <div class="media-body group-blog-post-new-comment-field">
                    {{form_widget(commentForm[counter])}}
                        <div class="group-blog-new-post-footer">
                            <div class="group-blog-new-post-footer-confirm text-right">
                                <button type="submit" class="btn btn-default btn-red">Envoyer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </li>
        {% set counter = counter + 1 %}
    {% include 'FlowberPostBundle::modal/modalDeletePost.html.twig' %}
    {% include 'FlowberPostBundle::modal/modalDeleteComment.html.twig' %}

    {% endfor %}
</ul>

