{# Flowber/PostBundle/Resources/views/partials/showPostEvent.html.twig #}

<div class="generic-blog-post-event">
    <div class="media">
        <div class="media-left">
            <a href="{{path('api_get_circle', {'circleId':event.id})}}">
                <div class="media-object generic-blog-post-event-thumbnail" style="background-image:url('{{asset(event.profilePicture)}}')" alt="{{event.title}}" ></div>
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><a href="{{path('api_get_circle', {'circleId':event.id})}}">{{event.title}}</a></h4>
            <div class=""><p>{{event.subtitle}}</p></div>
        </div>
    </div>
</div>