{% form_theme registrationForm 'bootstrap_3_layout.html.twig' %}
{% form_theme registrationForm.firstname 'bootstrap_3_horizontal_layout.html.twig' %}
{% form_theme registrationForm.surname 'bootstrap_3_horizontal_layout.html.twig' %}
{% form_theme registrationForm.sex 'bootstrap_3_horizontal_layout.html.twig' %}
{% form_theme registrationForm.birthdate 'bootstrap_3_horizontal_layout.html.twig' %}

{# Sign Up cover #}
<div class="jumbotron signin-cover" style="background-image: url({{asset('assets/images/UserBundle/signIn/cover-streetsheeps.jpg')}})">    
    <div class="container" >
        <div class="row">       
            <div class="col-md-5 col-md-offset-7 signup-form-col">
                <!-- Signup form -->                
                <h2>Inscrivez-vous !</h2>
                
                {{form_start(registrationForm)}}
                
                <div class="form-group form-inline"> 
                    {{form_widget(registrationForm.firstname)}}
                    {{form_widget(registrationForm.surname)}}
                </div> 
                
                <div class="form-group">
                    {{form_widget(registrationForm.sex, {'label_attr':{'class':'radio-inline'}})}}
                </div>
                
                
                {% if form_errors(registrationForm.birthdate) %}
                    <div class="form-error-custom">
                        {{form_errors(registrationForm.birthdate)}} 
                    </div>
                {% endif %}
                
                <div class="form-group form-inline">
                    {{form_widget(registrationForm.birthdate, {'attr':{'class':'birthday-datepicker'}})}}
                    <span>Date de naissance</span>
                </div>
                    
                {% if form_errors(registrationForm.email) %}
                    <div class="form-error-custom">
                        {{form_errors(registrationForm.email)}} 
                    </div>
                {% endif %}
                
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                    {{form_widget(registrationForm.email, {'attr':{'placeholder':'Adresse e-mail', 'class':'form-inline-input'}})}}
                    </div>
                </div>
                                    
                {% if form_errors(registrationForm.plainPassword.first) %}
                    <div class="form-error-custom">
                        {{form_errors(registrationForm.plainPassword.first)}}
                    </div>
                {% endif %}
                
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/password-lock.png')}}"/></span>
                        {{form_widget(registrationForm.plainPassword.first, { 'attr':{'placeholder': 'Mot de passe', 'class':'form-inline-input'} })}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/password-lock.png')}}"/></span>
                        {{form_widget(registrationForm.plainPassword.second, { 'attr':{'placeholder': 'Confirmation du mot de passe', 'class':'form-inline-input'} })}}
                    </div>
                </div>
                    {{ form_row(registrationForm.save, { 'label': 'Inscription', 'attr':{'class':'form-inline-button form-validation'} }) }}
                    {{ form_rest(registrationForm) }}
                {{form_end(registrationForm)}}    
                <!-- Sign up form END -->
            </div>
        </div>
    </div>
</div>
