{% extends '::base_frontoffice.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
{% endblock fos_user_content %}


{% block stylesheets %}
    {{parent()}}
    {# Put specific CSS below #}
    <link rel="stylesheet" href="{{ asset('assets/css/UserBundle/signup-details.css') }}"/>
{% endblock %}

{% block body %}
    <!-- Main menu -->
    {% include 'FlowberFrontOfficeBundle::partials/common/main-connected-navbar.html.twig' %}
    
    <!-- Sign up details jumbo -->
    <div class="jumbotron signup-details-cover" style="background-image: url({{asset('assets/images/UserBundle/signUp/cover-signup-details.jpg')}})">    
        <div class="container" >
            <div class="row-fluid text-center">       
                <h1 class="signup-details-cover-title ">Bienvenue sur FlowBer !</h1>
            </div>
        </div>
    </div>
    
    <!-- Form -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 signup-details-informations text-center">
                <h2>Sortez, rencontrez, découvrez !</h2>
                <p class="signup-details-informations-text">Vivez un max d'aventure !</p>
                <img class="signup-details-informations-image" src="{{asset('assets/images/UserBundle/signUp/signup-desktop.png')}}" alt=""/>
                <p class="signup-details-informations-text">FlowBer est un site social de rencontre amicale.<br/>
                    Faites des rencontres inoubliables.<br/>
                    Tout devient possible.
                </p>
            </div>
            <div class="col-md-6 col-sm-12">
                
                    <div class="form-group">
                        <div class="signup-details-form">
                            <div class="signup-details-form-header">
                                <h4><span class="signup-details-form-header-title">Etape 2</span><a type="submit" href="{{path("flowber_profile_current_user")}}" class="btn btn-default form-inline-button form-validation">Passer</a></h4>
                            </div>                   
                            
                            <form class="" method="post" {{ form_enctype(formPhone) }}>
                                <div class="form-group">
                                    {{ form_widget(formPhone) }}
                                </div>
                                <div class="form-group" style="margin-top : 25px;">
                                    {{ form_label(formPostal.address) }}
                                    {{ form_widget(formPostal.address) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(formPostal.zipcode) }}
                                    {{ form_widget(formPostal.zipcode) }}
                                </div>
                                <div class="col-md-6 form-signup-details-half-left">
                                    <div class="form-group">
                                        {{ form_label(formPostal.city) }}
                                        {{ form_widget(formPostal.city) }}
                                    </div>
                                </div>
                                <div class="col-md-6 form-signup-details-half-right">
                                    <div class="form-group">
                                        {{ form_label(formPostal.country) }}
                                        {{ form_widget(formPostal.country) }}
                                    </div>
                                </div>     

                                {{ form_rest(formPostal) }}

                                <div class="form-group">
                                    <button type="submit" class="btn btn-default form-inline-button form-validation">Inscription</button>
                                </div>

                                <div style="margin-top : 20px;"> 
                                    * Ces informations nous sont utiles pour vous proposer des sorties proches de chez vous.
                                </div>
                            </form>
                        </div>
                    </div>
                    <br />
                    
                    <div class="form-group">
                    </div>
                    <br />
            </div>
        </div>
    </div>

{% include 'FlowberFrontOfficeBundle::partials/common/footer.html.twig' %}                
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {# Put specific JS below #}
{% endblock %}