<div class="container group-container">
    
    <!-- Top alerts -->
    {% include 'FlowberGroupBundle::partials/groupAlerts.html.twig' %}   
    
    <div class="row">
        <div class="col-md-5">
            <div class="group-details">
                <h2>{{circle.title}}</h2>
                <table>
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/host.png')}}" alt="Organisateur"/></td>
                        <td>créé par <span class="group-details-host">
                             <a href="{{ path('flowber_profile_homepage', {'circleId': circle.idCreatedBy}) }}"> {{ circle.createdBy }} </a>
                        </span></td>
                    </tr>
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/category.png')}}" alt="categories"/></td>
                        <td>
                            {% if circle.categories | length %}{# if categories are specified #}
                                {% for category in circle.categories %}
                                    <span>{{ category }}</span>      
                                    {% if not loop.last %}<span>,</span> {% endif %}
                                {% endfor %}
                            {% else %}
                                <span>Catégorie non spécifiée</span>
                            {% endif %}
                        </td>
                    </tr>                        
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/participants.png')}}" alt="Participants"/></td>
                        <td>
                            8 membres dont 1 ami<br/>
                            <span class="group-details-participant">Marie BOIVENT</span>, <span class="group-details-participant">Equina YOU</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/description.png')}}" alt="Description de l'évènement"/></td>
                        <td>{{circle.description}}</td>
                    </tr>
                    {% if isCreator == false %}
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/mail.png')}}" alt="Envoyer un message à l'organisteur"/></td>
                        <td>
                            Envoyer un e-mail à l'administrateur du groupe<br/>
                            <form name="send-private-message-form" method="post" action="{{path('api_post_private_message', {"circleId": circle.id})}}">
                                {{ form_widget(mailToCreatorForm.message, {'attr': {'class': 'group-mail', 'placeholder':'Votre message'}})}} 
                                {{ form_rest(mailToCreatorForm) }}
                                <button class="btn btn-default" type="submit">Envoyer</button>
                            </form>
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="col-md-7">
            <div class="group-blog">
                
                {% include 'FlowberPostBundle::partials/createPost.html.twig' %}
                {% include 'FlowberPostBundle::basePostList.html.twig' %}               
                
            </div>
        </div>
    </div>
</div>