{# empty Twig template #}
 <nav id="nav-stick" class="navbar navbar-default navbar-second navbar-sm">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#second-navbar" aria-expanded="false" aria-controls="second-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>                
        </div>
        <div id="second-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('flowber_group_homepage', {'id': group.id}) }}">Actualités</a></li>
                <li><a href="{{ path('flowber_group_members', {'id': group.id}) }}">Membres</a></li>
                <li><a href="{{ path('flowber_group_events', {'id': group.id}) }}">Evènements</a></li>
                <li><a href="{{ path('flowber_group_galleries', {'id': group.id}) }}">Galleries</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-toggle="modal" data-target="#modal-wink" title="Envoyez un clin d'oeil">
                        <img class="menu-link-icon" src="{{asset('assets/images/ProfileBundle/menu/wink.png')}}"/> 
                    </a>
                </li>
                <li>
                    <a href="#" title='Envoyez un mail au responsable du groupe'>
                        <img class="menu-link-icon" src="{{asset('assets/images/ProfileBundle/menu/bubble-chat.png')}}" />
                    </a>
                </li>
                <li>
                    <a href="#" title='Rejoindre le groupe'>
                        <img class="menu-link-icon" src="{{asset('assets/images/UserBundle/friendShip/addFriend.png')}}"/>
                    </a>
                </li>
                <li>
                    <a class="back-top" href="#" title="Remonter en haut de la page">
                        <span class="fa fa-caret-up"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
