<ul class="nav nav-pills nav-justified menu-secondary">
    <li><a href="{{ path('api_get_circle', {'circleId': circle.id}) }}"><i class="fa fa-newspaper-o"></i></a></li>
            <li><a href="{{ path('flowber_group_members', {'id': circle.id}) }}"><i class="fa fa-users"></i></a></li>
            <li><a href="{{ path('flowber_group_events', {'id': circle.id}) }}"><span class="glyphicon glyphicon-apple"></span></a></li>
            <li><a href="{{ path('flowber_groups_galleries', {'id': circle.id}) }}"><span class="glyphicon glyphicon-picture"></span></a></li>
    <li>
        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span class="glyphicon glyphicon-option-vertical"></span></a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a href="#" data-toggle="modal" data-target="modalMessage" title="Envoyez un message à l'administrateur">
                    <img class="menu-link-icon" src="{{asset('assets/images/FrontOfficeBundle/icons/bubble-chat.png')}}"/> Envoyer un message à l'administrateur
                </a>
            </li>
            <li>
                <a href="#" title="Devenir membre du groupe">
                    <span class="glyphicon glyphicon-log-in"></span> Devenir membre
                </a>
            </li>
            <li>
                <a class="back-top" href="#">
                    <span class="fa fa-caret-up"></span> Remonter la page
                </a>
            </li>
        </ul>
    </li>
</ul>