<div class="container group-container">
    
    <!-- Top alerts -->
    {% include 'FlowberGroupBundle::partials/groupAlerts.html.twig' %}   
    
    <div class="row">
        <div class="col-md-5"><!-- Group summary -->
            <div class="group-details">
                <h2>{{circle.title}}</h2>
                <table>
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/host.png')}}" alt="Organisateur"/></td>
                        <td>créé par <span class="group-details-host">
                             <a href="{{ path('flowber_profile_homepage', {'circleId': circle.idCreatedBy}) }}"> {{ circle.createdBy }} </a>
                        </span></td>
                    </tr>
                    {% if circle.categories | length %}{# if categories are specified #}
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/category.png')}}" alt="categories"/></td>
                        <td>
                            {{circle.categories}}
                        </td>
                    </tr>                        
                    {% else %}
                        <span>Catégorie non spécifiée</span>
                    {% endif %}
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/participants.png')}}" alt="Participants"/></td>
                        <td>
                            <a href="{{ path('flowber_group_members', {'id': circle.id}) }}">
                                {{circle.members}} {% if circle.members <= 1 %} membre {% else %} membres {% endif %}
                            </a>
                            dont {{circle.friends}} {% if circle.friends <= 1 %} ami {% else %} amis {% endif %}<br/>
                        </td>
                    </tr>
                    {% if circle.description | length %}{# if categories are specified #}
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/description.png')}}" alt="Description de l'évènement"/></td>
                        <td>{{circle.description}}</td>
                    </tr>
                    {% endif %}
                    {% if role != "creator" %}
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/mail.png')}}" alt="Envoyer un message à l'organisteur"/></td>
                        <td>
                            Envoyer un e-mail à l'administrateur du groupe<br/>
                            <form name="send-private-message-form" method="post" action="{{path('api_post_privatemessage', {"circleId": circle.id})}}">
                                {{ form_widget(mailToCreatorForm.message, {'attr': {'class': 'group-mail', 'placeholder':'Votre message'}})}} 
                                {{ form_rest(mailToCreatorForm) }}
                                <button class="btn btn-default" type="submit">Envoyer</button>
                            </form>
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="col-md-7">
            <div class="group-blog">
                
                {% include 'FlowberPostBundle::partials/newGroupPost.html.twig' %}
                {% include 'FlowberPostBundle::basePostList.html.twig' %}               
                
            </div>
        </div>
    </div>
</div>