<div class="container group-container">
    
    <!-- Top alerts -->
    {% include 'FlowberGroupBundle::partials/groupAlerts.html.twig' %}   
    
    <div class="row">
        <div class="col-md-5">
            <div class="group-details">
                <h2>{{title}}</h2>
                <table>
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/host.png')}}" alt="Organisateur"/></td>
                        <td>créé par <span class="group-details-host">{{firstname}} {{surname}}</span></td>
                    </tr>
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/category.png')}}" alt="categories"/></td>
                        <td>
                            {% for category in categories %}
                                {{ category.title }}      
                                {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>                        
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/participants.png')}}" alt="Participants"/></td>
                        <td>
                            8 membres dont 1 ami<br/>
                            <span class="group-details-participant">Marie BOIVENT</span>, <span class="group-details-participant">Equina YOU</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/description.png')}}" alt="Description de l'évènement"/></td>
                        <td>{{description}}</td>
                    </tr>
                    <tr>
                        <td class="icon"><img src="{{asset('assets/images/FrontOfficeBundle/icons/mail.png')}}" alt="Envoyer un message à l'organisteur"/></td>
                        <td>
                            Envoyer un e-mail à l'organisateur<br/>
                            <form method="post">
                                {{ form_widget(mailToCreatorForm.message, {'attr': {'class': 'group-mail', 'placeholder':'Votre message'}})}} 
                                {{ form_rest(mailToCreatorForm) }}
                                <button class="btn btn-default" type="submit">Envoyer</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-7">
            <div class="group-blog">
                
                {% include 'FlowberPostBundle::partials/createPost.html.twig' %}
                {% include 'FlowberPostBundle::partials/showPostsGroup.html.twig' %}               
                
            </div>
        </div>
    </div>
</div>