{# empty Twig template #}
<div id="fiche" class="user-profile">
    <div class="user-profile-resume">
        <div class="container">
            <div class="row">
                
                <div class="col-md-6 col-sm-6 col-xs-12 col-bg-white user-profile-element">
                    <div class="user-profile-introduction-text-block">
                        <h3 class="name">{{ user.name }} </h3>
                        <p class="user-job">{{ user.job }}</p>
                        <p> {{ user.birthdate|date("d/m/Y") }} (23 ans)<br/>
                            {{ user.city }} ( {{ user.zipcode|number_format(0, '', '') }} )
                        </p>
                    </div>
                    <div class="user-profile-description">
                        <p> {{ user.description }} </p>
                    </div>
                </div>
                    
                <div class="col-md-6 col-sm-6 col-xs-12 user-profile-element">
                    <!--
                        <div class="user-profile-custom-icon" style="background-image: url('{{asset('images/frontoffice/user/user-custom-icons/kangaroo.png')}}')"></div>
                    -->
                    <h3>Mes inspirations</h3>
                    {% if user.hobbies.count > 0 %}
                        <table class="user-profile-interest">

                            {% for hobby in user.hobbies %}
                                <tr>
                                    <td class="user-profile-interest-subject text-center">
                                        <span> {{ hobby.category.title }}</span><br/>
                                        <div class="progress category-jauge">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ hobby.percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ hobby.percent }}%">
                                              <span class="sr-only">{{ hobby.percent }}</span>
                                            </div>
                                        </div> 
                                    </td>
                                    <td class="user-profile-interest-content">
                                        {{ hobby.description }}                      
                                    </td>
                                </tr>
                            {% endfor %}

                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>