{# FlowberProfile::Resources:views:partials:profileMenu.html.twig #}
<!-- Secondary menu for >= md-screens-->

<nav id="nav-stick" class="navbar navbar-default navbar-second navbar-sm">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#second-navbar" aria-expanded="false" aria-controls="second-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>                
        </div>
        <div id="second-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a class="scroll-anchor" href="#fiche" title="Voir la fiche de {{ circle.title }}">Fiche</a></li>
                <li><a class="scroll-anchor" href="#groups" title="voir les groupes de {{ circle.title }}">Groupes</a></li>
                <li><a class="scroll-anchor" href="#events" title="Voir les sorties de {{ circle.title }}">Sorties</a></li>
                <li><a class="scroll-anchor" href="#photos" title="Voir les photos de {{ circle.title }}">Photos</a></li>
                <li><a class="scroll-anchor" href="#friends" title="Voir les amis de {{ circle.title }}">Amis</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-toggle="modal" data-target="#modal-wink" title="Envoyez un clin d'oeil à {{ circle.title }}">
                        <img class="menu-link-icon" src="{{asset('assets/images/ProfileBundle/menu/wink.png')}}"/> 
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#modalMessage" title="Envoyez un message à {{ circle.title }}">
                        <img class="menu-link-icon" src="{{asset('assets/images/ProfileBundle/menu/bubble-chat.png')}}"/>
                    </a>
                </li>
                
                {% if isFriend == 1 %}
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-hover="dropdown" data-delay="500" data-close-others="true" title="{{ user.name }} est votre ami">
                            <img class="menu-link-icon" src="{{asset('assets/images/UserBundle/friendShip/friend.png')}}"/>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-large">
                            <li><a tabindex="-1" href="{{ path('flowber_unfriend', {'id': circle.id}) }}">Supprimer de mes amis</a></li>
                        </ul>
                    </li>
                {% elseif sendRequest == 0 %}              
                    <li>
                        <a href="#" data-toggle="modal" data-target="#modalAddFriend" title="Ajouter {{ circle.title }} comme ami">
                            <img class="menu-link-icon" src="{{asset('assets/images/UserBundle/friendShip/addFriend.png')}}"/>
                        </a>
                    </li>
                {% elseif sendRequest == -1 %} 
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-hover="dropdown" data-delay="500" data-close-others="true" title="La demande d'ami avec {{ circle.name }} est en attente de validation">
                            <img class="menu-link-icon" src="{{asset('assets/images/UserBundle/friendShip/addFriend.png')}}"/>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-large">
                            <li><a tabindex="-1" href="{{ path('flowber_cancel_friend_request', {'id': circle.id}) }}">Annuler la demande</a></li>
                        </ul>
                    </li>                    
                {% endif %}

                <li>
                    <a class="back-top" href="#" title="Remonter en haut de la page">
                        <span class="fa fa-caret-up"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>




{% include 'FlowberPrivateMessageBundle::partials/sendMessageToUser.html.twig' %} 
{% include 'FlowberPrivateMessageBundle::partials/sendWinkToUser.html.twig' %} 
{% include 'FlowberProfileBundle::partials/userProfile/modalAddFriend.html.twig' %} 
