{# empty Twig template #}
{% extends '::base_frontoffice.html.twig' %}

{% block body %}

    <!-- Main menu -->
    {% include 'WybeFrontOfficeBundle::partials/frontoffice/connected-main-navbar.html.twig' %}
            <!-- User Banner -->  
    <div class="jumbotron user-cover" style="background-image: url({{asset('images/frontoffice/user/cover/KLTowers.jpg')}})">    
        <div class="container" >
            <div class="row-fluid">       
                <div class="user-cover-profile-picture img-circle" style="background-image: url('{{asset('images/frontoffice/user/profile-pictures/marie-brussels-ice-cream.jpg')}}')"></div> 
                <div class="user-cover-title">
                    <h1 class="user-cover-title-name">Je suis un evenement</h1>
                    <p class="user-cover-title-description">Venez participer à un super event pour les hippos</p>
                </div>                
            </div>
        </div>
    </div>
    <!-- Second menu -->
    <nav id="nav-stick" class="navbar navbar-default navbar-second navbar-sm">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#second-navbar" aria-expanded="false" aria-controls="second-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
            </div>
            <div id="second-navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#news">Actualités</a></li>
                    <li><a href="#participants">Participants</a></li>
                    <li><a href="#photos">Photos</a></li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <img class="menu-link-icon" src="{{asset('bundles/wybefrontoffice/images/icons/wink.png')}}"/> 
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="menu-link-icon" src="{{asset('bundles/wybefrontoffice/images/icons/bubble-chat.png')}}"/>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="menu-link-icon" src="{{asset('bundles/wybefrontoffice/images/icons/tag-person.png')}}"/>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="menu-link-icon" src="{{asset('bundles/wybefrontoffice/images/icons/plus-white2.png')}}"/>
                        </a>
                    </li>
                    <li>
                        <a id="back-top" href="#">
                            <span class="fa fa-caret-up"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container event-container">
        <div class="row">
            <div class="col-md-5">
                <div class="event-details">
                    <h2>Football</h2>
                    <table>
                        <tr>
                            <td class="icon"><img src="{{asset('bundles/wybefrontoffice/images/icons/event-host.png')}}" alt="Organisateur"/></td>
                            <td>créé par <span class="event-details-host">Aurélien BONAZZI</span></td>
                        </tr>
                        <tr>
                            <td class="icon"><img src="{{asset('bundles/wybefrontoffice/images/icons/category.png')}}" alt="categories"/></td>
                            <td>golf, cinema, poterie</td>
                        </tr>                        
                        <tr>
                            <td class="icon"><img src="{{asset('bundles/wybefrontoffice/images/icons/event-time.png')}}" alt="Date et horaire"/></td>
                            <td>le 01 Septembre 2015 à 15h00</td>
                        </tr>
                        <tr>
                            <td class="icon"><img src="{{asset('bundles/wybefrontoffice/images/icons/event-location.png')}}" alt="Lieu"/></td>
                            <td>Au Parc du Tremble<br/>12 avenue des Lilas<br/>94100 Saint-Maur-des-Fossés</td>
                        </tr>
                        <tr>
                            <td class="icon"><img src="{{asset('bundles/wybefrontoffice/images/icons/event-participants.png')}}" alt="Participants"/></td>
                            <td>
                                8 participants dont 1 ami<br/>
                                <span class="event-details-participant">Marie BOIVENT</span>, <span class="event-details-participant">Equina YOU</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="icon"><img src="{{asset('bundles/wybefrontoffice/images/icons/event-description.png')}}" alt="Description de l'évènement"/></td>
                            <td>Bla bla bla</td>
                        </tr>
                        <tr>
                            <td class="icon"><img src="{{asset('bundles/wybefrontoffice/images/icons/event-mail.png')}}" alt="Envoyer un message à l'organisteur"/></td>
                            <td>
                                Envoyer un e-mail à l'organisateur<br/>
                                <form>
                                    <textarea id="newMailToHost" class="event-mail" name="mail-to-host" textholder="Votre message"></textarea>
                                    <button class="btn btn-default" type="submit">Envoyer</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-7">
                <div class="event-blog">
                    <div class="event-blog-new-post">
                        <ul id="eventNavbar" class="nav nav-tabs nav-justified event-blog-new-post-navbar">
                            <li role="presentation" class="event-blog-new-post-navbar-option active" aria-controls="newpost" role="tab" data-toggle="tab">
                                <a href="#newpost"><img class="event-blog-new-post-navbar-option-icon" src="{{asset('bundles/wybefrontoffice/images/icons/new-post.png')}}" alt=""/> Message</a>
                            </li>
                            <li role="presentation" class="event-blog-new-post-navbar-option" aria-controls="newphoto" role="tab" data-toggle="tab">
                                <a href="#newphoto"><img class="event-blog-new-post-navbar-option-icon" src="{{asset('bundles/wybefrontoffice/images/icons/photo.png')}}" alt=""/> Photo</a>
                            </li>
                            <li role="presentation" class="event-blog-new-post-navbar-option" aria-controls="tagpeople" role="tab" data-toggle="tab">
                                <a href="#tagpeople"><img class="event-blog-new-post-navbar-option-icon" src="{{asset('bundles/wybefrontoffice/images/icons/tag-white.png')}}" alt=""/> Tagger</a>
                            </li>
                        </ul>
                         <!-- Tab panes -->
                        <div class="tab-content event-blog-new-post-content">
                            <div role="tabpanel" class="tab-pane active" id="newpost">
                                <textarea id="newPostTextArea" placeholder="Ecrire un message"></textarea>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="newphoto">
                                Uploader une photo
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tagpeople">
                                Tagger une personne
                            </div>
                        </div>
                        <div class="event-blog-new-post-footer">
                            <div class="event-blog-new-post-footer-details">
                                
                            </div>
                            <div class="event-blog-new-post-footer-confirm text-right">
                                <button type="submit" class="btn btn-default btn-red">Envoyer</button>
                            </div>
                        </div>
                    </div>
                            
                    <div class="event-blog-post">
                        <div class="row event-blog-post-header">
                            <div class="col-md-1 text-center">
                                <div class="event-blog-post-header-avatar" style="background-image: url('{{asset('images/frontoffice/user/profile-pictures/marie-brussels-ice-cream.jpg')}}')"></div>
                            </div>
                            <div class="col-md-8 event-blog-post-header-info">
                                <a class="event-blog-header-post-info-poster" href="#">Marie BOIVENT</a><br/>
                                <span class="event-blog-post-header-info-time">Le 20 Août à 15h59</span>
                            </div>
                            <div class="col-md-3 event-blog-post-header-rating">
                                <img class="" src="{{asset('bundles/wybefrontoffice/images/icons/like-heart.png')}}" alt="J'aime"/> J'aime<br/>
                                <span class="event-blog-post-header-rating-count">4 personnes aiment</span>
                            </div>
                        </div>
                        <div class="event-blog-post-content">
                            <p>Bonjour ceci est un poste hahaha !!! Quoi? Bonjour ceci est un poste hahaha !!! Quoi? Bonjour ceci est un poste hahaha !!! Quoi?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>                
    </div>
                    
    {% include 'WybeFrontOfficeBundle::Default/footer.html.twig' %}
    <script type="text/javascript">
        $('#eventNavbar a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
        
        $("#newPostTextArea, #newMailToHost").keyup(function(e) {
            while($(this).outerHeight() < this.scrollHeight + parseFloat($(this).css("borderTopWidth")) + parseFloat($(this).css("borderBottomWidth"))) {
                $(this).height($(this).height()+1);
            };
        });
    </script>
    
    <script src="{{ asset('assets/js/angular.js') }}"></script>
    <script src="{{ asset('bundles/wybefrontoffice/js/testangular.js') }}"></script>
{% endblock %}
