{# empty Twig template #}
{% extends '::base_frontoffice.html.twig' %}

{% block body %}
    
    <!-- Main menu -->
    {% include 'WybeFrontOfficeBundle::partials/frontoffice/connected-main-navbar.html.twig' %}
    
    <!-- User Banner -->  
    <div class="jumbotron user-cover" style="background-image: url({{asset('images/frontoffice/user/cover/KLTowers.jpg')}})">    
        <div class="container" >
            <div class="row-fluid">       
                <div class="user-cover-profile-picture img-circle" style="background-image: url('{{asset('images/frontoffice/user/profile-pictures/marie-brussels-ice-cream.jpg')}}')"></div> 
                <div class="user-cover-title">
                    <h1 class="user-cover-title-name">Je suis un groupe</h1>
                    <p class="user-cover-title-description">groupes pour petit equina chat</p>
                </div>                
            </div>
        </div>
    </div>
                           
    <!-- Second menu -->
    <nav id="nav-stick" class="navbar navbar-default navbar-second navbar-sm">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#second-navbar" aria-expanded="false" aria-controls="second-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
            </div>
            <div id="second-navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#news">Actualités</a></li>
                    <li><a href="#participants">Membres</a></li>
                    <li><a href="#group">Evènements</a></li>
                    <li><a href="#photos">Photos</a></li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <img class="menu-link-icon" src="{{asset('bundles/wybefrontoffice/images/icons/wink.png')}}"/> 
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="menu-link-icon" src="{{asset('bundles/wybefrontoffice/images/icons/bubble-chat.png')}}"/>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="menu-link-icon" src="{{asset('bundles/wybefrontoffice/images/icons/check-white.png')}}"/>
                        </a>
                    </li>
                    <li>
                        <a id="back-top" href="#">
                            <span class="fa fa-caret-up"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container group-container">
        <div class="row">
            <div class="col-md-5">
                <div class="group-details">
                    <h2>L'équipe de Football des Pruniers</h2>
                    <table>
                        <tr>
                            <td class="icon"><img src="{{asset('bundles/wybefrontoffice/images/icons/host.png')}}" alt="Organisateur"/></td>
                            <td>créé par <span class="group-details-host">Aurélien BONAZZI</span></td>
                        </tr>
                        <tr>
                            <td class="icon"><img src="{{asset('bundles/wybefrontoffice/images/icons/category.png')}}" alt="categories"/></td>
                            <td>golf, cinema, poterie</td>
                        </tr>                        
                        <tr>
                            <td class="icon"><img src="{{asset('bundles/wybefrontoffice/images/icons/time.png')}}" alt="Date et horaire"/></td>
                            <td>le 01 Septembre 2015 à 15h00</td>
                        </tr>
                        <tr>
                            <td class="icon"><img src="{{asset('bundles/wybefrontoffice/images/icons/location.png')}}" alt="Lieu"/></td>
                            <td>Au Parc du Tremble<br/>12 avenue des Lilas<br/>94100 Saint-Maur-des-Fossés</td>
                        </tr>
                        <tr>
                            <td class="icon"><img src="{{asset('bundles/wybefrontoffice/images/icons/participants.png')}}" alt="Participants"/></td>
                            <td>
                                8 participants dont 1 ami<br/>
                                <span class="group-details-participant">Marie BOIVENT</span>, <span class="group-details-participant">Equina YOU</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="icon"><img src="{{asset('bundles/wybefrontoffice/images/icons/description.png')}}" alt="Description de l'évènement"/></td>
                            <td>Bla bla bla</td>
                        </tr>
                        <tr>
                            <td class="icon"><img src="{{asset('bundles/wybefrontoffice/images/icons/mail.png')}}" alt="Envoyer un message à l'organisteur"/></td>
                            <td>
                                Envoyer un e-mail à l'organisateur<br/>
                                <form>
                                    <textarea id="newMailToHost" class="group-mail" name="mail-to-host" textholder="Votre message"></textarea>
                                    <button class="btn btn-default" type="submit">Envoyer</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-7">
                <div class="group-blog">
                    <div class="group-blog-new-post">
                        <ul id="groupNavbar" class="nav nav-tabs nav-justified group-blog-new-post-navbar">
                            <li role="presentation" class="group-blog-new-post-navbar-option active" aria-controls="newpost" role="tab" data-toggle="tab">
                                <a href="#newpost"><img class="group-blog-new-post-navbar-option-icon" src="{{asset('bundles/wybefrontoffice/images/icons/new-post.png')}}" alt=""/> Message</a>
                            </li>
                            <li role="presentation" class="group-blog-new-post-navbar-option" aria-controls="newphoto" role="tab" data-toggle="tab">
                                <a href="#newphoto"><img class="group-blog-new-post-navbar-option-icon" src="{{asset('bundles/wybefrontoffice/images/icons/photo.png')}}" alt=""/> Photo</a>
                            </li>
                            <li role="presentation" class="group-blog-new-post-navbar-option" aria-controls="tagpeople" role="tab" data-toggle="tab">
                                <a href="#tagpeople"><img class="group-blog-new-post-navbar-option-icon" src="{{asset('bundles/wybefrontoffice/images/icons/tag-white.png')}}" alt=""/> Tagger</a>
                            </li>
                        </ul>
                         <!-- Tab panes -->
                        <div class="tab-content group-blog-new-post-content">
                            <div role="tabpanel" class="tab-pane active" id="newpost">
                                <textarea id="newPostTextArea" placeholder="Ecrire un message"></textarea>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="newphoto">
                                Uploader une photo
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tagpeople">
                                Tagger une personne
                            </div>
                        </div>
                        <div class="group-blog-new-post-footer">
                            <div class="group-blog-new-post-footer-details">
                                
                            </div>
                            <div class="group-blog-new-post-footer-confirm text-right">
                                <button type="submit" class="btn btn-default btn-red">Envoyer</button>
                            </div>
                        </div>
                    </div>
                            
                    <div class="group-blog-post">
                        <div class="row group-blog-post-header">
                            <div class="col-md-1 text-center">
                                <div class="group-blog-post-header-avatar" style="background-image: url('{{asset('images/frontoffice/user/profile-pictures/marie-brussels-ice-cream.jpg')}}')"></div>
                            </div>
                            <div class="col-md-8 group-blog-post-header-info">
                                <a class="group-blog-header-post-info-poster" href="#">Marie BOIVENT</a><br/>
                                <span class="group-blog-post-header-info-time">Le 20 Août à 15h59</span>
                            </div>
                            <div class="col-md-3 group-blog-post-header-rating">
                                <img class="" src="{{asset('bundles/wybefrontoffice/images/icons/like-heart.png')}}" alt="J'aime"/> J'aime<br/>
                                <span class="group-blog-post-header-rating-count">4 personnes aiment</span>
                            </div>
                        </div>
                        <div class="group-blog-post-content">
                            <p>Bonjour ceci est un poste hahaha !!! Quoi? Bonjour ceci est un poste hahaha !!! Quoi? Bonjour ceci est un poste hahaha !!! Quoi?</p>
                        </div>
                        <div class="group-blog-post-comments">
                            <div class="row group-blog-post-comment">
                                <div class="col-xs-1 col-xs-offset-1 text-center">
                                    <div class="group-blog-post-comment-avatar" style="background-image: url('{{asset('images/frontoffice/user/profile-pictures/marie-brussels-ice-cream.jpg')}}')"></div>
                                </div>
                                <div class="col-xs-10">
                                    <div class="group-blog-post-comment-poster">
                                        <a href="#">Marie Boivent</a>
                                    </div>
                                    <div class="group-blog-post-comment-time">
                                        <span>Le 21 Juillet à 15h21</span>
                                    </div>
                                    <div class="group-blog-post-comment-content">
                                        <p>Il était un petit navire qui avait beaucoupé navigué ohé ohé ! Ohé ohé matelots! Matelots nagivuent sur les flooooots!</p>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <div class="row group-blog-post-comment">
                                <div class="col-xs-1 col-xs-offset-1 text-center">
                                    <div class="group-blog-post-comment-avatar" style="background-image: url('{{asset('images/frontoffice/user/profile-pictures/marie-brussels-ice-cream.jpg')}}')"></div>
                                </div>
                                <div class="col-xs-10">
                                    <div class="group-blog-post-comment-poster">
                                        <a href="#">Marie Boivent</a>
                                    </div>
                                    <div class="group-blog-post-comment-time">
                                        <span>Le 21 Juillet à 15h21</span>
                                    </div>
                                    <div class="group-blog-post-comment-content">
                                        <p>Il était un petit navire qui avait beaucoupé navigué ohé ohé ! Ohé ohé matelots! Matelots nagivuent sur les flooooots!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                            <div class="row group-blog-post-new-comment">
                                <div class="col-xs-1 text-center">
                                    <div class="group-blog-post-new-comment-avatar" style="background-image: url('{{asset('images/frontoffice/user/profile-pictures/marie-brussels-ice-cream.jpg')}}')"></div>
                                </div>
                                <div class="col-xs-11 group-blog-post-new-comment-field">
                                    <textarea type="text" name="group-blog-new-post-new-comment"></textarea>
                                    <button class="btn btn-default btn-red" type="submit">Valider</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
          
    
    {% include 'WybeFrontOfficeBundle::Default/footer.html.twig' %}
{% endblock %}
