{% extends '::base_frontoffice.html.twig' %}
{% trans_default_domain "index" %}

{% block body %}

    <!-- Main menu -->
    {% include 'WybeFrontOfficeBundle::partials/frontoffice/connected-main-navbar.html.twig' %}
                            
    <!-- User Banner -->  
    <div class="jumbotron user-cover" style="background-image: url({{asset('images/frontoffice/user/cover/KLTowers.jpg')}})">    
        <div class="container" >
            <div class="row-fluid">       
                <div class="user-cover-profile-picture img-circle" style="background-image: url('{{asset('images/frontoffice/user/profile-pictures/marie-brussels-ice-cream.jpg')}}')"></div> 
                <div class="user-cover-title">
                    <h1 class="user-cover-title-name">Marie Boivent</h1>
                    <p class="user-cover-title-description">Chasseuse de taupes</p>
                </div>                
            </div>
        </div>
    </div>
    
    <!-- Second menu -->
    <nav id="nav-stick" class="navbar navbar-default navbar-second navbar-sm">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#second-navbar" aria-expanded="false" aria-controls="second-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
            </div>
            <div id="second-navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#personal-details-form" class="scroll-anchor">Fiche</a></li>
                    <li><a href="#groups" class="scroll-anchor">Groupes</a></li>
                    <li><a href="#events" class="scroll-anchor">Evènements</a></li>
                    <li><a href="#photos" class="scroll-anchor">Photos</a></li>

                    <li><a href="#friends">Amis</a></li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <img class="menu-link-icon" src="{{asset('bundles/wybefrontoffice/images/icons/wink.png')}}"/> 
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="menu-link-icon" src="{{asset('bundles/wybefrontoffice/images/icons/bubble-chat.png')}}"/>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="menu-link-icon" src="{{asset('bundles/wybefrontoffice/images/icons/add-user.png')}}"/>
                        </a>
                    </li>
                    <li>
                        <a id="back-top" href="#">
                            <span class="fa fa-caret-up"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Fiche -->
    <div id="personal-details-form" class="container-fluid main-container user-profile">
        <div class="row">
            <div class="col-md-6 col-bg-blue user-profile-half-col">
                <div class="user-profile-introduction-text-block">
                    <h2 class="name">Marie Boivent</h2>
                    <p class="user-job">Gardienne de prairies</p>
                    <p>18 Mai 1992 (23 ans)<br/>
                    Saint-Maur-des-Fossés (94210)<br/>
                    </p>
                </div>
                
                
                <div class="container">
                    <table class="user-profile-interest">
                        <tr>
                            <td class="user-profile-interest-subject text-center">
                                <span>Musique</span><br/>
                                <div class="progress category-jauge">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                      <span class="sr-only">45</span>
                                    </div>
                                </div> 
                            </td>
                            <td class="user-profile-interest-content">
                                <ul>
                                    <li>Céline Dion</li><li>Taylor Swift</li>
                                </ul>                        
                            </td>
                        </tr>
                        <tr>
                            <td class="user-profile-interest-subject text-center">
                                <span>Musique</span><br/>
                                <div class="progress category-jauge">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                      <span class="sr-only">45</span>
                                    </div>
                                </div> 
                            </td>
                            <td class="user-profile-interest-content">
                                <ul>
                                    <li>Céline Dion</li><li>Taylor Swift</li>
                                </ul>                        
                            </td>
                        </tr>
                    </table>                
                </div>
            </div>
            
            <div class="col-md-6 col-bg-white user-profile-half-col">
                <div class="user-profile-custom-icon" style="background-image: url('{{asset('images/frontoffice/user/user-custom-icons/kangaroo.png')}}')">
                </div>
                <div class="user-profile-description">
                    <p>Hinc ille commotus ut iniusta perferens et indigna praefecti custodiam protectoribus mandaverat fidis. quo conperto Montius tunc quaestor acer quidem sed ad lenitatem propensior, consulens in commune advocato</p>
                    <div class="progress category-jauge">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                          <span class="sr-only">45</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                
    <!-- My groups -->
    <div id="groups" class="user-profile-groups background-dark-blue">
        <div class="container-fluid main-container user-profile">
            <div class="row user-profile-category-row  text-center">
                <span class="user-profile-category-title font-white">Mes groupes</span>
            </div>

            <div class="container user-profile-groups-container">
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail group-list-thumbnail ">
                            <div class="caption group-name-frame">
                                <h3 class="group-name font-white">Canoë Club</h3>
                            </div>
                            <div class="group-image-frame">
                                <img class="group-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>                                
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="font-white group-description">238 membres. 2 amis</p>
                                <p>
                                    <a href="#" class="btn btn-default font-white group-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail group-list-thumbnail ">
                            <div class="caption group-name-frame">
                                <h3 class="group-name font-white">Canoë Club</h3>
                            </div>
                            <div class="group-image-frame">
                                <img class="group-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="font-white group-description">238 membres. 2 amis</p>
                                <p>
                                    <a href="#" class="btn btn-default font-white group-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail group-list-thumbnail ">
                            <div class="caption group-name-frame">
                                <h3 class="group-name font-white">Canoë Club</h3>
                            </div>
                            <div class="group-image-frame">
                                <img class="group-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="font-white group-description">238 membres. 2 amis</p>
                                <p>
                                    <a href="#" class="btn btn-default font-white group-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail group-list-thumbnail ">
                            <div class="caption group-name-frame">
                                <h3 class="group-name font-white">Canoë Club azer azer azer</h3>
                            </div>
                            <div class="group-image-frame">
                                <img class="group-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="font-white group-description">238 membres &middot; 2 amis &middot; 24 évènements</p>
                                <p>
                                    <a href="#" class="btn btn-default font-white group-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail group-list-thumbnail ">
                            <div class="caption group-name-frame">
                                <h3 class="group-name font-white">Canoë Club</h3>
                            </div>
                            <div class="group-image-frame">
                                <img class="group-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>                                
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="font-white group-description">238 membres. 2 amis</p>
                                <p>
                                    <a href="#" class="btn btn-default font-white group-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                
    <!-- My events-->                            
    <div id="events" class="user-profile-events">
        <div class="container-fluid main-container user-profile">
            <div class="row user-profile-category-row text-center">
                <span class="user-profile-category-title">Mes évènements</span>
            </div>

            <div class="container user-profile-events-container">
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail event-list-thumbnail ">
                            <div class="caption event-name-frame">
                                <h3 class="event-name">Canoë Club</h3>
                            </div>
                            <div class="event-image-frame">
                                <img class="event-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>
                                <p class="event-image-frame-date">
                                    <span class="event-image-frame-date-day">Dimanche 15 Décembre</span><br/>                                                      
                                    <span class="event-image-frame-date-day">18h30</span>                                                       
                                </p>
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="event-description">238 participants &middot; 3 amis &middot; Levallois-Perret</p>
                                <p>
                                    <a href="#" class="btn btn-default font-white event-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</a>
                                </p>
                            </div>
                        </div>
                    </div>                    
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail event-list-thumbnail ">
                            <div class="caption event-name-frame">
                                <h3 class="event-name">Canoë Club</h3>
                            </div>
                            <div class="event-image-frame">
                                <img class="event-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>
                                <p class="event-image-frame-date">
                                    <span class="event-image-frame-date-day">Dimanche 15 Décembre</span><br/>                                                      
                                    <span class="event-image-frame-date-day">18h30</span>                                                       
                                </p>
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="event-description">238 participants &middot; 3 amis &middot; Levallois-Perret</p>
                                <p>
                                    <a href="#" class="btn btn-default font-white event-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</a>
                                </p>
                            </div>
                        </div>
                    </div>                    
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail event-list-thumbnail ">
                            <div class="caption event-name-frame">
                                <h3 class="event-name">Canoë Club</h3>
                            </div>
                            <div class="event-image-frame">
                                <img class="event-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>
                                <p class="event-image-frame-date">
                                    <span class="event-image-frame-date-day">Dimanche 15 Décembre</span><br/>                                                      
                                    <span class="event-image-frame-date-day">18h30</span>                                                       
                                </p>
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="event-description">238 participants &middot; 3 amis &middot; Levallois-Perret</p>
                                <p>
                                    <a href="#" class="btn btn-default font-white event-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</a>
                                </p>
                            </div>
                        </div>
                    </div>                    
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail event-list-thumbnail ">
                            <div class="caption event-name-frame">
                                <h3 class="event-name">Canoë Club</h3>
                            </div>
                            <div class="event-image-frame">
                                <img class="event-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>
                                <p class="event-image-frame-date">
                                    <span class="event-image-frame-date-day">Dimanche 15 Décembre</span><br/>                                                      
                                    <span class="event-image-frame-date-day">18h30</span>                                                       
                                </p>
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="event-description">238 participants &middot; 3 amis &middot; Levallois-Perret</p>
                                <p>
                                    <a href="#" class="btn btn-default font-white event-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</a>
                                </p>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
                                
    <!-- My gallery -->
    <div id="photos" class="user-profile-gallery background-dark-blue">
        <div class="container-fluid main-container user-profile">
            <div class="row user-profile-category-row  text-center">
                <span class="user-profile-category-title font-white">Mes galeries</span>
            </div>
            
            <div class="container user-profile-gallery-container">
                <span class="font-white"> Gallerie une</span>
                <div id="links">
                    <a data-gallery="" title="Lost Sheep In The Morning Mist" href="{{asset('images/frontoffice/user/galleries/gallery001/2015-05-17 17.13.58.jpg')}}">
                        <img src="{{asset('images/frontoffice/user/galleries/gallery001/2015-05-17 17.13.58_thumb.jpg')}}"/>
                    </a><a data-gallery="" title="autumn came" href="https://farm1.static.flickr.com/589/22064915512_5c0f082456_b.jpg"><img src="https://farm1.static.flickr.com/589/22064915512_5c0f082456_s.jpg"></a><a data-gallery="" title="October 10th" href="https://farm6.static.flickr.com/5696/22076234431_7f717c3052_b.jpg"><img src="https://farm6.static.flickr.com/5696/22076234431_7f717c3052_s.jpg"></a><a data-gallery="" title="Crummock Boat" href="https://farm1.static.flickr.com/774/22067558495_fe91802ec4_b.jpg"><img src="https://farm1.static.flickr.com/774/22067558495_fe91802ec4_s.jpg"></a><a data-gallery="" title="Full Spectrum Wasp" href="https://farm1.static.flickr.com/626/22075119305_8b9a220ac3_b.jpg"><img src="https://farm1.static.flickr.com/626/22075119305_8b9a220ac3_s.jpg"></a><a data-gallery="" title="Lunch!  Now serving 10 . . ." href="https://farm1.static.flickr.com/768/22071505785_73ea6113b0_b.jpg"><img src="https://farm1.static.flickr.com/768/22071505785_73ea6113b0_s.jpg"></a><a data-gallery="" title="Reflection" href="https://farm1.static.flickr.com/699/22045660686_a018046371_b.jpg"><img src="https://farm1.static.flickr.com/699/22045660686_a018046371_s.jpg"></a><a data-gallery="" title="Habronattus viridipes jumping spider" href="https://farm6.static.flickr.com/5683/21873693318_d21ff3ebd6_b.jpg"><img src="https://farm6.static.flickr.com/5683/21873693318_d21ff3ebd6_s.jpg"></a><a data-gallery="" title="The Pinnacles" href="https://farm1.static.flickr.com/698/21879631068_86dfc9e0ac_b.jpg"><img src="https://farm1.static.flickr.com/698/21879631068_86dfc9e0ac_s.jpg"></a><a data-gallery="" title="Veins In The Sky" href="https://farm6.static.flickr.com/5744/22071389865_4c959d2d01_b.jpg"><img src="https://farm6.static.flickr.com/5744/22071389865_4c959d2d01_s.jpg"></a><a data-gallery="" title="beFOLD" href="https://farm6.static.flickr.com/5659/21884627450_61afbb4c69_b.jpg"><img src="https://farm6.static.flickr.com/5659/21884627450_61afbb4c69_s.jpg"></a><a data-gallery="" title="BARAMBAH BY MOONLIGHT" href="https://farm6.static.flickr.com/5730/22067334312_3e493e18ac_b.jpg"><img src="https://farm6.static.flickr.com/5730/22067334312_3e493e18ac_s.jpg"></a><a data-gallery="" title="Over Owler Tor" href="https://farm6.static.flickr.com/5650/22059196782_637db29890_b.jpg"><img src="https://farm6.static.flickr.com/5650/22059196782_637db29890_s.jpg"></a><a data-gallery="" title="all the things | marin headlands, california" href="https://farm6.static.flickr.com/5832/21876624169_d216d1cf99_b.jpg"><img src="https://farm6.static.flickr.com/5832/21876624169_d216d1cf99_s.jpg"></a><a data-gallery="" title="Hoping on a plane in Chicago heading back to SFO." href="https://farm1.static.flickr.com/581/22084988661_b7e304afbe_b.jpg"><img src="https://farm1.static.flickr.com/581/22084988661_b7e304afbe_s.jpg"></a><a data-gallery="" title="Ghost Town (Overboard)" href="https://farm1.static.flickr.com/732/21873444690_4961395503_b.jpg"><img src="https://farm1.static.flickr.com/732/21873444690_4961395503_s.jpg"></a><a data-gallery="" title="Raindrop Tree" href="https://farm6.static.flickr.com/5808/21874241030_35419999b5_b.jpg"><img src="https://farm6.static.flickr.com/5808/21874241030_35419999b5_s.jpg"></a><a data-gallery="" title="the S" href="https://farm6.static.flickr.com/5685/22083595851_506341c64c_b.jpg"><img src="https://farm6.static.flickr.com/5685/22083595851_506341c64c_s.jpg"></a><a data-gallery="" title="Frosty Magic" href="https://farm1.static.flickr.com/604/22046871466_5989f9aeca_b.jpg"><img src="https://farm1.static.flickr.com/604/22046871466_5989f9aeca_s.jpg"></a><a data-gallery="" title="Durdle Door" href="https://farm6.static.flickr.com/5746/21450962703_5a959e36cf_b.jpg"><img src="https://farm6.static.flickr.com/5746/21450962703_5a959e36cf_s.jpg"></a><a data-gallery="" title="Bad part of town" href="https://farm6.static.flickr.com/5638/22071779641_783331585b_b.jpg"><img src="https://farm6.static.flickr.com/5638/22071779641_783331585b_s.jpg"></a><a data-gallery="" title="Last September Lights" href="https://farm6.static.flickr.com/5757/22068578885_dd62717eee_b.jpg"><img src="https://farm6.static.flickr.com/5757/22068578885_dd62717eee_s.jpg"></a><a data-gallery="" title="Milky Way - Full 180 Degree Panorama" href="https://farm1.static.flickr.com/679/22053400372_658d328165_b.jpg"><img src="https://farm1.static.flickr.com/679/22053400372_658d328165_s.jpg"></a><a data-gallery="" title="Shockwave." href="https://farm6.static.flickr.com/5670/22058248142_c79b879a3b_b.jpg"><img src="https://farm6.static.flickr.com/5670/22058248142_c79b879a3b_s.jpg"></a><a data-gallery="" title="Darlington Chapel" href="https://farm1.static.flickr.com/773/21884794508_5b6b4c649a_b.jpg"><img src="https://farm1.static.flickr.com/773/21884794508_5b6b4c649a_s.jpg"></a><a data-gallery="" title="Pend Oreille River Foggy Autumn" href="https://farm6.static.flickr.com/5832/21876850328_aa9a9e36b5_b.jpg"><img src="https://farm6.static.flickr.com/5832/21876850328_aa9a9e36b5_s.jpg"></a><a data-gallery="" title="Alpine flowers and mount Averau (2649m)" href="https://farm6.static.flickr.com/5689/21889498259_c61b0fd643_b.jpg"><img src="https://farm6.static.flickr.com/5689/21889498259_c61b0fd643_s.jpg"></a><a data-gallery="" title="Speechless" href="https://farm6.static.flickr.com/5738/21874851159_04b1806de3_b.jpg"><img src="https://farm6.static.flickr.com/5738/21874851159_04b1806de3_s.jpg"></a><a data-gallery="" title="Early morn...Vega Baja, Puerto Rico" href="https://farm6.static.flickr.com/5692/22087323211_3c5b592539_b.jpg"><img src="https://farm6.static.flickr.com/5692/22087323211_3c5b592539_s.jpg"></a><a data-gallery="" title="Silence" href="https://farm6.static.flickr.com/5761/21446536364_17bacfeabe_b.jpg"><img src="https://farm6.static.flickr.com/5761/21446536364_17bacfeabe_s.jpg"></a><a data-gallery="" title="Autumn Days (2015) #3" href="https://farm1.static.flickr.com/743/21449012074_9a10601f25_b.jpg"><img src="https://farm1.static.flickr.com/743/21449012074_9a10601f25_s.jpg"></a><a data-gallery="" title="Forster's Tern  {Explored!!  Thank you!!}" href="https://farm1.static.flickr.com/681/22050376382_9864e79ba7_b.jpg"><img src="https://farm1.static.flickr.com/681/22050376382_9864e79ba7_s.jpg"></a><a data-gallery="" title="Belgium Plow" href="https://farm1.static.flickr.com/656/22065265512_f60a4dc72f_b.jpg"><img src="https://farm1.static.flickr.com/656/22065265512_f60a4dc72f_s.jpg"></a><a data-gallery="" title="Sankt Florian Linz(former 2 were also explored please check!)" href="https://farm6.static.flickr.com/5747/22070460135_9837e7ef2e_b.jpg"><img src="https://farm6.static.flickr.com/5747/22070460135_9837e7ef2e_s.jpg"></a><a data-gallery="" title="Kookie.  Sister of Oreo." href="https://farm1.static.flickr.com/699/21884245859_1c9c533669_b.jpg"><img src="https://farm1.static.flickr.com/699/21884245859_1c9c533669_s.jpg"></a><a data-gallery="" title="" href="https://farm6.static.flickr.com/5642/22076278975_5309c30acc_b.jpg"><img src="https://farm6.static.flickr.com/5642/22076278975_5309c30acc_s.jpg"></a><a data-gallery="" title="to make you smile :)" href="https://farm1.static.flickr.com/598/21449323053_8a95f1ee86_b.jpg"><img src="https://farm1.static.flickr.com/598/21449323053_8a95f1ee86_s.jpg"></a><a data-gallery="" title="security" href="https://farm6.static.flickr.com/5683/22065619712_6f81559d39_b.jpg"><img src="https://farm6.static.flickr.com/5683/22065619712_6f81559d39_s.jpg"></a><a data-gallery="" title="Country Road..." href="https://farm6.static.flickr.com/5677/22079199161_51ed499c7f_b.jpg"><img src="https://farm6.static.flickr.com/5677/22079199161_51ed499c7f_s.jpg"></a><a data-gallery="" title="Forgotten garden" href="https://farm1.static.flickr.com/603/21453685654_ec4787e2d7_b.jpg"><img src="https://farm1.static.flickr.com/603/21453685654_ec4787e2d7_s.jpg"></a><a data-gallery="" title="The birth of the idea" href="https://farm1.static.flickr.com/564/21885552809_f6d0a1741e_b.jpg"><img src="https://farm1.static.flickr.com/564/21885552809_f6d0a1741e_s.jpg"></a><a data-gallery="" title="Impressive reflections" href="https://farm1.static.flickr.com/597/21454781904_cfe454a64f_b.jpg"><img src="https://farm1.static.flickr.com/597/21454781904_cfe454a64f_s.jpg"></a><a data-gallery="" title="Frog playing hide and seek under a mushroom" href="https://farm6.static.flickr.com/5631/21889751970_670bbb521e_b.jpg"><img src="https://farm6.static.flickr.com/5631/21889751970_670bbb521e_s.jpg"></a><a data-gallery="" title="The Photographer" href="https://farm1.static.flickr.com/768/22085477321_e513bc7efd_b.jpg"><img src="https://farm1.static.flickr.com/768/22085477321_e513bc7efd_s.jpg"></a><a data-gallery="" title="Perro Callejero de Honduras" href="https://farm1.static.flickr.com/646/21455395114_e51f01fb0b_b.jpg"><img src="https://farm1.static.flickr.com/646/21455395114_e51f01fb0b_s.jpg"></a><a data-gallery="" title="Yellow-tailed Black Cockatoo" href="https://farm6.static.flickr.com/5673/22038939976_6c9ee58eda_b.jpg"><img src="https://farm6.static.flickr.com/5673/22038939976_6c9ee58eda_s.jpg"></a><a data-gallery="" title="Irthington sheep" href="https://farm6.static.flickr.com/5651/21890797589_82ac4ebb50_b.jpg"><img src="https://farm6.static.flickr.com/5651/21890797589_82ac4ebb50_s.jpg"></a><a data-gallery="" title="Harris, Scotland" href="https://farm6.static.flickr.com/5617/21882885398_efedae5a90_b.jpg"><img src="https://farm6.static.flickr.com/5617/21882885398_efedae5a90_s.jpg"></a><a data-gallery="" title="Old vs new" href="https://farm1.static.flickr.com/628/21450786373_07e7a1f1e3_b.jpg"><img src="https://farm1.static.flickr.com/628/21450786373_07e7a1f1e3_s.jpg"></a><a data-gallery="" title="Glasnevin  Cemetery" href="https://farm1.static.flickr.com/672/21875304129_964e991613_b.jpg"><img src="https://farm1.static.flickr.com/672/21875304129_964e991613_s.jpg"></a><a data-gallery="" title="Buse Pattue / Rough-legged Hawk / buteo lagopus [explored]" href="https://farm1.static.flickr.com/734/22072393435_35fe41b2f6_b.jpg"><img src="https://farm1.static.flickr.com/734/22072393435_35fe41b2f6_s.jpg"></a><a data-gallery="" title="Dormant." href="https://farm1.static.flickr.com/772/21884405790_4d7c95b89d_b.jpg"><img src="https://farm1.static.flickr.com/772/21884405790_4d7c95b89d_s.jpg"></a><a data-gallery="" title="Délicieuse timidité enfantine." href="https://farm6.static.flickr.com/5701/22066151755_8537ff0838_b.jpg"><img src="https://farm6.static.flickr.com/5701/22066151755_8537ff0838_s.jpg"></a><a data-gallery="" title="Mountain Sunrise" href="https://farm6.static.flickr.com/5622/21883263428_3799ced396_b.jpg"><img src="https://farm6.static.flickr.com/5622/21883263428_3799ced396_s.jpg"></a><a data-gallery="" title="Panorama - The twelve Apostles" href="https://farm1.static.flickr.com/693/21453460944_5251f15d4f_b.jpg"><img src="https://farm1.static.flickr.com/693/21453460944_5251f15d4f_s.jpg"></a><a data-gallery="" title="In Focus (Explore)" href="https://farm6.static.flickr.com/5762/21878767078_b8ee4d7e9e_b.jpg"><img src="https://farm6.static.flickr.com/5762/21878767078_b8ee4d7e9e_s.jpg"></a><a data-gallery="" title="Melbourne Block Arcade" href="https://farm6.static.flickr.com/5690/21455770863_631ec1dfea_b.jpg"><img src="https://farm6.static.flickr.com/5690/21455770863_631ec1dfea_s.jpg"></a><a data-gallery="" title="HK Night" href="https://farm6.static.flickr.com/5776/21446806893_7fdcf267cd_b.jpg"><img src="https://farm6.static.flickr.com/5776/21446806893_7fdcf267cd_s.jpg"></a><a data-gallery="" title="family portrait" href="https://farm6.static.flickr.com/5619/22060001792_0283e5567b_b.jpg"><img src="https://farm6.static.flickr.com/5619/22060001792_0283e5567b_s.jpg"></a><a data-gallery="" title="&quot;Song of the flower...&quot;" href="https://farm6.static.flickr.com/5802/21889215159_4317ce40bb_b.jpg"><img src="https://farm6.static.flickr.com/5802/21889215159_4317ce40bb_s.jpg"></a><a data-gallery="" title="Bestiaccia" href="https://farm6.static.flickr.com/5621/21452444343_e4091d0f76_b.jpg"><img src="https://farm6.static.flickr.com/5621/21452444343_e4091d0f76_s.jpg"></a><a data-gallery="" title="Campo Santa Maria Maddalena in Venedig" href="https://farm1.static.flickr.com/635/21447522914_5a3ef54640_b.jpg"><img src="https://farm1.static.flickr.com/635/21447522914_5a3ef54640_s.jpg"></a><a data-gallery="" title="Gillis Lake Upper Falls" href="https://farm6.static.flickr.com/5625/21882307660_573b047bf8_b.jpg"><img src="https://farm6.static.flickr.com/5625/21882307660_573b047bf8_s.jpg"></a><a data-gallery="" title="Can you see the face?" href="https://farm1.static.flickr.com/733/21880328110_109b8c22dd_b.jpg"><img src="https://farm1.static.flickr.com/733/21880328110_109b8c22dd_s.jpg"></a><a data-gallery="" title="In the Spotlight - EXPLORED" href="https://farm1.static.flickr.com/639/21452900003_33249ebe62_b.jpg"><img src="https://farm1.static.flickr.com/639/21452900003_33249ebe62_s.jpg"></a><a data-gallery="" title="Jump!" href="https://farm1.static.flickr.com/781/21891207910_4cb3d52e38_b.jpg"><img src="https://farm1.static.flickr.com/781/21891207910_4cb3d52e38_s.jpg"></a><a data-gallery="" title="Running for glory" href="https://farm1.static.flickr.com/672/21885442779_75e2746e52_b.jpg"><img src="https://farm1.static.flickr.com/672/21885442779_75e2746e52_s.jpg"></a><a data-gallery="" title="Lincoln's Sparrow" href="https://farm1.static.flickr.com/773/21440396704_4945ac8656_b.jpg"><img src="https://farm1.static.flickr.com/773/21440396704_4945ac8656_s.jpg"></a><a data-gallery="" title="Leica IIIa" href="https://farm6.static.flickr.com/5775/22060558362_8d60fc516f_b.jpg"><img src="https://farm6.static.flickr.com/5775/22060558362_8d60fc516f_s.jpg"></a><a data-gallery="" title="Dramatic sky" href="https://farm1.static.flickr.com/595/21447253203_17f2888a72_b.jpg"><img src="https://farm1.static.flickr.com/595/21447253203_17f2888a72_s.jpg"></a><a data-gallery="" title="Blue-chinned sapphire 蓝颊青峰鸟" href="https://farm1.static.flickr.com/743/21876331440_1931d1b709_b.jpg"><img src="https://farm1.static.flickr.com/743/21876331440_1931d1b709_s.jpg"></a><a data-gallery="" title=":: playful ::" href="https://farm6.static.flickr.com/5723/22072381961_445d80f70d_b.jpg"><img src="https://farm6.static.flickr.com/5723/22072381961_445d80f70d_s.jpg"></a><a data-gallery="" title="Ropes 282/375" href="https://farm1.static.flickr.com/741/22072370605_bc3636cefb_b.jpg"><img src="https://farm1.static.flickr.com/741/22072370605_bc3636cefb_s.jpg"></a><a data-gallery="" title="fly fishing in style" href="https://farm6.static.flickr.com/5775/22042468316_5d6a0be48c_b.jpg"><img src="https://farm6.static.flickr.com/5775/22042468316_5d6a0be48c_s.jpg"></a><a data-gallery="" title="Found Glove" href="https://farm6.static.flickr.com/5744/21442602153_4d01a9e08f_b.jpg"><img src="https://farm6.static.flickr.com/5744/21442602153_4d01a9e08f_s.jpg"></a><a data-gallery="" title="Followed" href="https://farm6.static.flickr.com/5797/22080242851_12c89f7c3e_b.jpg"><img src="https://farm6.static.flickr.com/5797/22080242851_12c89f7c3e_s.jpg"></a><a data-gallery="" title="Bayaka Pygmies-2238" href="https://farm1.static.flickr.com/599/22077586861_66768acb2d_b.jpg"><img src="https://farm1.static.flickr.com/599/22077586861_66768acb2d_s.jpg"></a><a data-gallery="" title="Outdoor" href="https://farm1.static.flickr.com/775/21878192468_acb1e51ba3_b.jpg"><img src="https://farm1.static.flickr.com/775/21878192468_acb1e51ba3_s.jpg"></a><a data-gallery="" title="Red hour" href="https://farm1.static.flickr.com/579/21448966674_0a7efab99c_b.jpg"><img src="https://farm1.static.flickr.com/579/21448966674_0a7efab99c_s.jpg"></a><a data-gallery="" title="The four kings" href="https://farm6.static.flickr.com/5771/21448774274_c6c0afb507_b.jpg"><img src="https://farm6.static.flickr.com/5771/21448774274_c6c0afb507_s.jpg"></a><a data-gallery="" title="Autumn leaves" href="https://farm6.static.flickr.com/5649/21888946169_25673b94c3_b.jpg"><img src="https://farm6.static.flickr.com/5649/21888946169_25673b94c3_s.jpg"></a><a data-gallery="" title="Colors of autumn" href="https://farm1.static.flickr.com/708/21877650460_6e6fde2a76_b.jpg"><img src="https://farm1.static.flickr.com/708/21877650460_6e6fde2a76_s.jpg"></a><a data-gallery="" title="Clifton Hill - Facade" href="https://farm1.static.flickr.com/673/21874247788_c6860bdf8a_b.jpg"><img src="https://farm1.static.flickr.com/673/21874247788_c6860bdf8a_s.jpg"></a><a data-gallery="" title="Gorgeous Day" href="https://farm6.static.flickr.com/5753/21455761444_bab66f5d9d_b.jpg"><img src="https://farm6.static.flickr.com/5753/21455761444_bab66f5d9d_s.jpg"></a><a data-gallery="" title="sashimi" href="https://farm6.static.flickr.com/5760/21446927093_b72c500240_b.jpg"><img src="https://farm6.static.flickr.com/5760/21446927093_b72c500240_s.jpg"></a><a data-gallery="" title="Gallinule poule d'eau / Gallinula chloropus / Common Moorhen" href="https://farm6.static.flickr.com/5833/21891039509_3d08c4fdd9_b.jpg"><img src="https://farm6.static.flickr.com/5833/21891039509_3d08c4fdd9_s.jpg"></a><a data-gallery="" title="Pilzgruppe" href="https://farm6.static.flickr.com/5728/22043093386_df858020e5_b.jpg"><img src="https://farm6.static.flickr.com/5728/22043093386_df858020e5_s.jpg"></a><a data-gallery="" title="Hab mich lieb!" href="https://farm6.static.flickr.com/5776/21884627900_5a17ae4892_b.jpg"><img src="https://farm6.static.flickr.com/5776/21884627900_5a17ae4892_s.jpg"></a><a data-gallery="" title="Glassy surface" href="https://farm1.static.flickr.com/680/21881163550_5b1f9c7094_b.jpg"><img src="https://farm1.static.flickr.com/680/21881163550_5b1f9c7094_s.jpg"></a><a data-gallery="" title="Droplets on Rose Leaf by Kaye Menner" href="https://farm1.static.flickr.com/702/21450958953_57920d92ab_b.jpg"><img src="https://farm1.static.flickr.com/702/21450958953_57920d92ab_s.jpg"></a><a data-gallery="" title="Watching" href="https://farm1.static.flickr.com/627/21448114424_6360e84671_b.jpg"><img src="https://farm1.static.flickr.com/627/21448114424_6360e84671_s.jpg"></a></div>
            </div>            
        </div>
    </div>
    
    <!-- My gallery modal-->
    <div id="blueimp-gallery" class="blueimp-gallery">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- My friends-->                            
    <div id="friends" class="user-profile-friends">
        <div class="container-fluid main-container user-profile">
            <div class="row user-profile-category-row text-center">
                <span class="user-profile-category-title">Mes amis</span>
            </div>

            <div class="container user-profile-friends-container">
                <div class="row">
                    <ul>
                        <li class="user-profile-friends-friend">
                            <a href="#">
                                <div>Marie Boivent</div>
                                <div class="user-profile-friends-friend-avatar img-thumbnail" style="background-image:url('{{asset('images/frontoffice/user/profile-pictures/marie-brussels-ice-cream.jpg')}}')" alt=""></div>
                            </a>
                        </li>                      
                        <li class="user-profile-friends-friend">
                            <a href="#">
                                <div>Marie Boivent</div>
                                <div class="user-profile-friends-friend-avatar img-thumbnail" style="background-image:url('{{asset('images/frontoffice/user/profile-pictures/marie-brussels-ice-cream.jpg')}}')" alt=""></div>
                            </a>
                        </li>                      
                        <li class="user-profile-friends-friend">
                            <a href="#">
                                <div>Marie Boivent</div>
                                <div class="user-profile-friends-friend-avatar img-thumbnail" style="background-image:url('{{asset('images/frontoffice/user/profile-pictures/marie-brussels-ice-cream.jpg')}}')" alt=""></div>
                            </a>
                        </li>                      
                        <li class="user-profile-friends-friend">
                            <a href="#">
                                <div>Marie Boivent</div>
                                <div class="user-profile-friends-friend-avatar img-thumbnail" style="background-image:url('{{asset('images/frontoffice/user/profile-pictures/marie-brussels-ice-cream.jpg')}}')" alt=""></div>
                            </a>
                        </li>                      
                        <li class="user-profile-friends-friend">
                            <a href="#">
                                <div>Marie Boivent</div>
                                <div class="user-profile-friends-friend-avatar img-thumbnail" style="background-image:url('{{asset('images/frontoffice/user/profile-pictures/marie-brussels-ice-cream.jpg')}}')" alt=""></div>
                            </a>
                        </li>                      
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% include 'WybeFrontOfficeBundle::Default/footer.html.twig' %}



<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="{{ asset('bundles/wybefrontoffice/js/gallery/bootstrap-image-gallery.js') }}"></script>
<script src="{{ asset('bundles/wybefrontoffice/js/gallery/blueimp-gallery.js') }}"></script>
{% endblock %}