{% extends '::base_frontoffice.html.twig' %}
{% trans_default_domain "index" %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/wybefrontoffice/css/profile.css') }}"/> 
{% endblock %}

{% block body %}

    <!-- Main menu -->
    {% include 'WybeFrontOfficeBundle::partials/common/main-connected-navbar.html.twig' %}
                            
    <!-- User Cover -->  
    {% include 'WybeFrontOfficeBundle::partials/common/cover.html.twig' %}
    
    <!-- Second menu -->
    {% include 'WybeFrontOfficeBundle::partials/profile/profile-navbar.html.twig' %}


    <!-- Fiche -->
    <div id="fiche" class="container-fluid main-container user-profile">
        <div class="row">
            <div class="col-md-6 col-sm-8 col-bg-blue user-profile-half-col">
                <div class="user-profile-introduction-text-block">
                    <h2 class="name">Marie Boivent</h2>
                    <p class="user-job">Gardienne de prairies</p>
                    <p>18 Mai 1992 (23 ans)<br/>
                    Saint-Maur-des-Fossés (94210)<br/>
                    </p>
                </div>
                
                
           
                <table class="user-profile-interest">
                    <tr>
                        <td class="user-profile-interest-subject text-center">
                            <span>Musique</span><br/>
                            <div class="progress category-jauge">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                  <span class="sr-only">45</span>
                                </div>
                            </div> 
                        </td>
                        <td class="user-profile-interest-content">
                            <ul>
                                <li>Céline Dion</li><li>Taylor Swift</li>
                            </ul>                        
                        </td>
                    </tr>
                    <tr>
                        <td class="user-profile-interest-subject text-center">
                            <span>Musique</span><br/>
                            <div class="progress category-jauge">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                  <span class="sr-only">45</span>
                                </div>
                            </div> 
                        </td>
                        <td class="user-profile-interest-content">
                            <ul>
                                <li>Céline Dion</li><li>Taylor Swift</li>
                            </ul>                        
                        </td>
                    </tr>
                </table>                
         
            </div>
            
            <div class="col-md-6 col-sm-4 col-bg-white user-profile-half-col">
                <div class="user-profile-custom-icon" style="background-image: url('{{asset('images/frontoffice/user/user-custom-icons/kangaroo.png')}}')">
                </div>
                <div class="user-profile-description">
                    <p>Hinc ille commotus ut iniusta perferens et indigna praefecti custodiam protectoribus mandaverat fidis. quo conperto Montius tunc quaestor acer quidem sed ad lenitatem propensior, consulens in commune advocato</p>
                </div>
            </div>
        </div>
    </div>
                
    <!-- My groups -->
    <div id="groups" class="user-profile-groups background-dark-blue">
        <div class="container-fluid main-container user-profile">
            <div class="row user-profile-category-row  text-center">
                <span class="user-profile-category-title font-white">Mes groupes</span>
            </div>

            <div class="container user-profile-groups-container">
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail group-list-thumbnail ">
                            <div class="caption group-name-frame">
                                <h3 class="group-name font-white">Canoë Club</h3>
                            </div>
                            <div class="group-image-frame">
                                <img class="group-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>                                
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="font-white group-description">238 membres &middot; 2 amis</p>
                                <button class="btn btn-default font-white group-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail group-list-thumbnail ">
                            <div class="caption group-name-frame">
                                <h3 class="group-name font-white">Canoë Club</h3>
                            </div>
                            <div class="group-image-frame">
                                <img class="group-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>                                
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="font-white group-description">238 membres &middot; 2 amis</p>
                                <button class="btn btn-default font-white group-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail group-list-thumbnail ">
                            <div class="caption group-name-frame">
                                <h3 class="group-name font-white">Canoë Club</h3>
                            </div>
                            <div class="group-image-frame">
                                <img class="group-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>                                
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="font-white group-description">238 membres &middot; 2 amis</p>
                                <button class="btn btn-default font-white group-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail group-list-thumbnail ">
                            <div class="caption group-name-frame">
                                <h3 class="group-name font-white">Canoë Club</h3>
                            </div>
                            <div class="group-image-frame">
                                <img class="group-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>                                
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="font-white group-description">238 membres &middot; 2 amis</p>
                                <button class="btn btn-default font-white group-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail group-list-thumbnail ">
                            <div class="caption group-name-frame">
                                <h3 class="group-name font-white">Canoë Club</h3>
                            </div>
                            <div class="group-image-frame">
                                <img class="group-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>                                
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="font-white group-description">238 membres &middot; 2 amis</p>
                                <button class="btn btn-default font-white group-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail group-list-thumbnail ">
                            <div class="caption group-name-frame">
                                <h3 class="group-name font-white">Canoë Club</h3>
                            </div>
                            <div class="group-image-frame">
                                <img class="group-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>                                
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="font-white group-description">238 membres &middot; 2 amis</p>
                                <button class="btn btn-default font-white group-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail group-list-thumbnail ">
                            <div class="caption group-name-frame">
                                <h3 class="group-name font-white">Canoë Club</h3>
                            </div>
                            <div class="group-image-frame">
                                <img class="group-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>                                
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="font-white group-description">238 membres &middot; 2 amis</p>
                                <button class="btn btn-default font-white group-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail group-list-thumbnail ">
                            <div class="caption group-name-frame">
                                <h3 class="group-name font-white">Canoë Club</h3>
                            </div>
                            <div class="group-image-frame">
                                <img class="group-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>                                
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="font-white group-description">238 membres &middot; 2 amis</p>
                                <button class="btn btn-default font-white group-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
                                
    <!-- My events-->                            
    <div id="events" class="user-profile-events">
        <div class="container-fluid main-container user-profile">
            <div class="row user-profile-category-row text-center">
                <span class="user-profile-category-title">Mes évènements</span>
            </div>

            <div class="container user-profile-events-container">
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail event-list-thumbnail ">
                            <div class="caption event-name-frame">
                                <h3 class="event-name">Canoë Club</h3>
                            </div>
                            <div class="event-image-frame">
                                <img class="event-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>
                                <p class="event-image-frame-date">
                                    <span class="event-image-frame-date-day">Dimanche 15 Décembre</span><br/>                                                      
                                    <span class="event-image-frame-date-day">18h30</span>                                                       
                                </p>
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="event-description">238 participants &middot; 3 amis &middot; Levallois-Perret</p>
                                <button class="btn btn-default font-white event-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>                   
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail event-list-thumbnail ">
                            <div class="caption event-name-frame">
                                <h3 class="event-name">Canoë Club</h3>
                            </div>
                            <div class="event-image-frame">
                                <img class="event-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>
                                <p class="event-image-frame-date">
                                    <span class="event-image-frame-date-day">Dimanche 15 Décembre</span><br/>                                                      
                                    <span class="event-image-frame-date-day">18h30</span>                                                       
                                </p>
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="event-description">238 participants &middot; 3 amis &middot; Levallois-Perret</p>
                                <button class="btn btn-default font-white event-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>                   
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail event-list-thumbnail ">
                            <div class="caption event-name-frame">
                                <h3 class="event-name">Canoë Club</h3>
                            </div>
                            <div class="event-image-frame">
                                <img class="event-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>
                                <p class="event-image-frame-date">
                                    <span class="event-image-frame-date-day">Dimanche 15 Décembre</span><br/>                                                      
                                    <span class="event-image-frame-date-day">18h30</span>                                                       
                                </p>
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="event-description">238 participants &middot; 3 amis &middot; Levallois-Perret</p>
                                <button class="btn btn-default font-white event-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>                   
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail event-list-thumbnail ">
                            <div class="caption event-name-frame">
                                <h3 class="event-name">Canoë Club</h3>
                            </div>
                            <div class="event-image-frame">
                                <img class="event-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>
                                <p class="event-image-frame-date">
                                    <span class="event-image-frame-date-day">Dimanche 15 Décembre</span><br/>                                                      
                                    <span class="event-image-frame-date-day">18h30</span>                                                       
                                </p>
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="event-description">238 participants &middot; 3 amis &middot; Levallois-Perret</p>
                                <button class="btn btn-default font-white event-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>                   
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail event-list-thumbnail ">
                            <div class="caption event-name-frame">
                                <h3 class="event-name">Canoë Club</h3>
                            </div>
                            <div class="event-image-frame">
                                <img class="event-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>
                                <p class="event-image-frame-date">
                                    <span class="event-image-frame-date-day">Dimanche 15 Décembre</span><br/>                                                      
                                    <span class="event-image-frame-date-day">18h30</span>                                                       
                                </p>
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="event-description">238 participants &middot; 3 amis &middot; Levallois-Perret</p>
                                <button class="btn btn-default font-white event-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>                   
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail event-list-thumbnail ">
                            <div class="caption event-name-frame">
                                <h3 class="event-name">Canoë Club</h3>
                            </div>
                            <div class="event-image-frame">
                                <img class="event-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>
                                <p class="event-image-frame-date">
                                    <span class="event-image-frame-date-day">Dimanche 15 Décembre</span><br/>                                                      
                                    <span class="event-image-frame-date-day">18h30</span>                                                       
                                </p>
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="event-description">238 participants &middot; 3 amis &middot; Levallois-Perret</p>
                                <button class="btn btn-default font-white event-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
                                
    <!-- My gallery -->
    <div id="photos" class="user-profile-gallery background-dark-blue">
        <div class="container-fluid main-container user-profile">
            <div class="row user-profile-category-row  text-center">
                <span class="user-profile-category-title font-white">Mes galeries</span>
            </div>
            
            <div class="container user-profile-gallery-container">
                <span class="font-white"> Gallerie une</span>
                <div id="links"></div>
            </div>            
        </div>
    </div>
    
    <!-- My gallery modal-->
    <div id="blueimp-gallery" class="blueimp-gallery">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
 <!-- My friends-->                            
    <div id="friends" class="user-profile-friends">
        <div class="container-fluid main-container user-profile">
            <div class="row user-profile-category-row text-center">
                <span class="user-profile-category-title">Mes amis</span>
            </div>

            <div class="container">
                <div class="row user-profile-friends-list">
                    <div class="col-md-4">
                        <div class="user-profile-friends-list-element">
                            <div class="user-profile-friends-list-element-avatar" style="background-image:url('{{asset('images/frontoffice/group/canoe-club.jpg')}}')"></div>
                            <div class="user-profile-friends-list-element-details">
                                <a class="user-profile-friends-list-element-details-name" href="#">Jean-Jacques de Compostel</a>
                                <br/><span class="user-profile-friends-list-element-details-friends">23 amis</span> &middot; <span class="user-profile-friends-list-element-details-events">12 évènements</span>
                                <br/><button class="btn btn-default user-profile-friends-list-element-details-sendpm">Envoyer un message</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="user-profile-friends-list-element">
                            <div class="user-profile-friends-list-element-avatar" style="background-image:url('{{asset('images/frontoffice/group/canoe-club.jpg')}}')"></div>
                            <div class="user-profile-friends-list-element-details">
                                <a class="user-profile-friends-list-element-details-name" href="#">Jean-Jacques de Compostel</a>
                                <br/><span class="user-profile-friends-list-element-details-friends">23 amis</span> &middot; <span class="user-profile-friends-list-element-details-events">12 évènements</span>
                                <br/><button class="btn btn-default user-profile-friends-list-element-details-sendpm">Envoyer un message</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="user-profile-friends-list-element">
                            <div class="user-profile-friends-list-element-avatar" style="background-image:url('{{asset('images/frontoffice/group/canoe-club.jpg')}}')"></div>
                            <div class="user-profile-friends-list-element-details">
                                <a class="user-profile-friends-list-element-details-name" href="#">Jean-Jacques de Compostel</a>
                                <br/><span class="user-profile-friends-list-element-details-friends">23 amis</span> &middot; <span class="user-profile-friends-list-element-details-events">12 évènements</span>
                                <br/><button class="btn btn-default user-profile-friends-list-element-details-sendpm">Envoyer un message</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="user-profile-friends-list-element">
                            <div class="user-profile-friends-list-element-avatar" style="background-image:url('{{asset('images/frontoffice/group/canoe-club.jpg')}}')"></div>
                            <div class="user-profile-friends-list-element-details">
                                <a class="user-profile-friends-list-element-details-name" href="#">Jean-Jacques de Compostel</a>
                                <br/><span class="user-profile-friends-list-element-details-friends">23 amis</span> &middot; <span class="user-profile-friends-list-element-details-events">12 évènements</span>
                                <br/><button class="btn btn-default user-profile-friends-list-element-details-sendpm">Envoyer un message</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="user-profile-friends-list-element">
                            <div class="user-profile-friends-list-element-avatar" style="background-image:url('{{asset('images/frontoffice/group/canoe-club.jpg')}}')"></div>
                            <div class="user-profile-friends-list-element-details">
                                <a class="user-profile-friends-list-element-details-name" href="#">Jean-Jacques de Compostel</a>
                                <br/><span class="user-profile-friends-list-element-details-friends">23 amis</span> &middot; <span class="user-profile-friends-list-element-details-events">12 évènements</span>
                                <br/><button class="btn btn-default user-profile-friends-list-element-details-sendpm">Envoyer un message</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
 
    {% include 'WybeFrontOfficeBundle::partials/common/footer.html.twig' %}
    
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="{{ asset('bundles/wybefrontoffice/js/gallery/bootstrap-image-gallery.js') }}"></script>
    <script src="{{ asset('bundles/wybefrontoffice/js/gallery/blueimp-gallery.js') }}"></script>
{% endblock %}