   <div id="events" class="user-profile-events user-profile">
        
            <div class="user-profile-category-row text-center">
                <span class="user-profile-category-title">Mes évènements</span>
            </div>

            <div class="container user-profile-events-container">
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail event-list-thumbnail ">
                            <div class="caption event-name-frame">
                                <h3 class="event-name">Canoë Club</h3>
                            </div>
                            <div class="event-image-frame">
                                <img class="event-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>
                                <p class="event-image-frame-date">
                                    <span class="event-image-frame-date-day">Dimanche 15 Décembre</span><br/>                                                      
                                    <span class="event-image-frame-date-day">18h30</span>                                                       
                                </p>
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="event-description">238 participants &middot; 3 amis &middot; Levallois-Perret</p>
                                <button class="btn btn-default font-white event-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>                   
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail event-list-thumbnail ">
                            <div class="caption event-name-frame">
                                <h3 class="event-name">Canoë Club</h3>
                            </div>
                            <div class="event-image-frame">
                                <img class="event-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>
                                <p class="event-image-frame-date">
                                    <span class="event-image-frame-date-day">Dimanche 15 Décembre</span><br/>                                                      
                                    <span class="event-image-frame-date-day">18h30</span>                                                       
                                </p>
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="event-description">238 participants &middot; 3 amis &middot; Levallois-Perret</p>
                                <button class="btn btn-default font-white event-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>                   
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail event-list-thumbnail ">
                            <div class="caption event-name-frame">
                                <h3 class="event-name">Canoë Club</h3>
                            </div>
                            <div class="event-image-frame">
                                <img class="event-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>
                                <p class="event-image-frame-date">
                                    <span class="event-image-frame-date-day">Dimanche 15 Décembre</span><br/>                                                      
                                    <span class="event-image-frame-date-day">18h30</span>                                                       
                                </p>
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="event-description">238 participants &middot; 3 amis &middot; Levallois-Perret</p>
                                <button class="btn btn-default font-white event-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>                   
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail event-list-thumbnail ">
                            <div class="caption event-name-frame">
                                <h3 class="event-name">Canoë Club</h3>
                            </div>
                            <div class="event-image-frame">
                                <img class="event-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>
                                <p class="event-image-frame-date">
                                    <span class="event-image-frame-date-day">Dimanche 15 Décembre</span><br/>                                                      
                                    <span class="event-image-frame-date-day">18h30</span>                                                       
                                </p>
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="event-description">238 participants &middot; 3 amis &middot; Levallois-Perret</p>
                                <button class="btn btn-default font-white event-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>                   
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail event-list-thumbnail ">
                            <div class="caption event-name-frame">
                                <h3 class="event-name">Canoë Club</h3>
                            </div>
                            <div class="event-image-frame">
                                <img class="event-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>
                                <p class="event-image-frame-date">
                                    <span class="event-image-frame-date-day">Dimanche 15 Décembre</span><br/>                                                      
                                    <span class="event-image-frame-date-day">18h30</span>                                                       
                                </p>
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="event-description">238 participants &middot; 3 amis &middot; Levallois-Perret</p>
                                <button class="btn btn-default font-white event-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>                   
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail event-list-thumbnail ">
                            <div class="caption event-name-frame">
                                <h3 class="event-name">Canoë Club</h3>
                            </div>
                            <div class="event-image-frame">
                                <img class="event-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>
                                <p class="event-image-frame-date">
                                    <span class="event-image-frame-date-day">Dimanche 15 Décembre</span><br/>                                                      
                                    <span class="event-image-frame-date-day">18h30</span>                                                       
                                </p>
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="event-description">238 participants &middot; 3 amis &middot; Levallois-Perret</p>
                                <button class="btn btn-default font-white event-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
        
    </div>
                                
    <!-- My gallery -->   
    <div id="photos" class="user-profile-gallery background-dark-blue user-profile">
        <div class="user-profile-category-row  text-center">
            <span class="user-profile-category-title font-white">Mes galeries</span>
        </div>

        <div class="container user-profile-gallery-container">
            <span class="font-white"> Gallerie une</span>
            <div id="links"></div>
        </div>
    </div>