{# empty Twig template #}
    <div id="groups" class="user-profile-groups user-profile background-dark-blue">
     
            <div class="user-profile-category-row  text-center">
                <span class="user-profile-category-title font-white">Mes groupes</span>
            </div>

            <div class="container user-profile-groups-container">
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail group-list-thumbnail ">
                            <div class="caption group-name-frame">
                                <h3 class="group-name font-white">Canoë Club</h3>
                            </div>
                            <div class="group-image-frame">
                                <img class="group-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>                                
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="font-white group-description">238 membres &middot; 2 amis</p>
                                <button class="btn btn-default font-white group-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail group-list-thumbnail ">
                            <div class="caption group-name-frame">
                                <h3 class="group-name font-white">Canoë Club</h3>
                            </div>
                            <div class="group-image-frame">
                                <img class="group-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>                                
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="font-white group-description">238 membres &middot; 2 amis</p>
                                <button class="btn btn-default font-white group-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail group-list-thumbnail ">
                            <div class="caption group-name-frame">
                                <h3 class="group-name font-white">Canoë Club</h3>
                            </div>
                            <div class="group-image-frame">
                                <img class="group-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>                                
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="font-white group-description">238 membres &middot; 2 amis</p>
                                <button class="btn btn-default font-white group-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail group-list-thumbnail ">
                            <div class="caption group-name-frame">
                                <h3 class="group-name font-white">Canoë Club</h3>
                            </div>
                            <div class="group-image-frame">
                                <img class="group-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>                                
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="font-white group-description">238 membres &middot; 2 amis</p>
                                <button class="btn btn-default font-white group-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail group-list-thumbnail ">
                            <div class="caption group-name-frame">
                                <h3 class="group-name font-white">Canoë Club</h3>
                            </div>
                            <div class="group-image-frame">
                                <img class="group-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>                                
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="font-white group-description">238 membres &middot; 2 amis</p>
                                <button class="btn btn-default font-white group-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail group-list-thumbnail ">
                            <div class="caption group-name-frame">
                                <h3 class="group-name font-white">Canoë Club</h3>
                            </div>
                            <div class="group-image-frame">
                                <img class="group-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>                                
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="font-white group-description">238 membres &middot; 2 amis</p>
                                <button class="btn btn-default font-white group-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail group-list-thumbnail ">
                            <div class="caption group-name-frame">
                                <h3 class="group-name font-white">Canoë Club</h3>
                            </div>
                            <div class="group-image-frame">
                                <img class="group-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>                                
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="font-white group-description">238 membres &middot; 2 amis</p>
                                <button class="btn btn-default font-white group-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail group-list-thumbnail ">
                            <div class="caption group-name-frame">
                                <h3 class="group-name font-white">Canoë Club</h3>
                            </div>
                            <div class="group-image-frame">
                                <img class="group-image" src="{{asset('images/frontoffice/group/canoe-club.jpg')}}" alt=""/>                                
                            </div>
                            
                            <div class="caption text-center ">
                                <p class="font-white group-description">238 membres &middot; 2 amis</p>
                                <button class="btn btn-default font-white group-join-button"><span class="glyphicon glyphicon-plus font-white" aria-hidden="true"></span> Rejoindre</button>
                            </div>
                        </div>
                    </div>  
                </div>  
            </div>  
    </div>