{# empty Twig template #}
    <div id="fiche" class="user-profile">
        <div class="user-profile-resume">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 user-profile-element">
                        <div class="user-profile-introduction-text-block">
                            <h2 class="name">{{ user.getFirstname }} {{ user.getSurname }}</h2>
                            <p class="user-job">{{ profile.getSubtitle }}</p>
                            <p>{{ user.getBirthdate|date("d/m/Y") }} (23 ans)<br/>
                            {% if user.getPostalAddress.count > 0 %}
                                {% for add in user.getPostalAddress %}
                                    {{ add.city }} - {{ add.zipcode|number_format(0, '', '') }}
                                {% endfor %}
                            {% endif %}
                            </p>
                        </div>

                        {% if profile.hobbies.count > 0 %}
                            <table class="user-profile-interest">
                                
                                {% for hobby in profile.hobbies %}
                                    <tr>
                                        <td class="user-profile-interest-subject text-center">
                                            <span> {{ hobby.category }}</span><br/>
                                            <div class="progress category-jauge">
                                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ hobby.percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ hobby.percent }}%">
                                                  <span class="sr-only">{{ hobby.percent }}</span>
                                                </div>
                                            </div> 
                                        </td>
                                        <td class="user-profile-interest-content">
                                            {{ hobby.description }}                      
                                        </td>
                                    </tr>
                                {% endfor %}
                            
                            </table>
                        {% endif %}
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 col-bg-white user-profile-element bg-white">
                        <div class="user-profile-custom-icon" style="background-image: url('{{asset('images/frontoffice/user/user-custom-icons/kangaroo.png')}}')">
                        </div>
                        <div class="user-profile-description">
                            <p> {{ profile.getDescription }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>