{# Flowber:GroupBundle:Resources:partials::groupAlerts.html.twig #}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% for flash_message in app.session.flashbag.get('addFriend') %}
                
                <div class="alert alert-success alert-dismissible alert-autoclosing alert-event-main fade in flash-notice" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flash_message }}
                    <a class="btn btn-default" data-dismiss="alert" href="{{ path('flowber_accept_friend_request', {'id': user.id}) }}">
                        <span aria-hidden="true">Accepter</span>
                    </a>
                    <a class="btn btn-default" data-dismiss="alert" href="{{ path('flowber_decline_friend_request', {'id': user.id}) }}">
                        <span aria-hidden="true">Refuser</span>
                    </a>
                </div>
                    
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('success') %}
                
                <div class="alert alert-success alert-dismissible alert-autoclosing alert-event-main fade in flash-notice" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flash_message }}
                </div>
                    
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('error') %}
                <div class="alert alert-danger alert-dismissible alert-event-main fade in flash-notice" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flash_message }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>