{# FlowberProfile::Resources:views:partials:profileMenu.html.twig #}
<!-- Secondary menu for >= md-screens-->

<nav id="nav-stick" class="navbar navbar-default navbar-second navbar-sm">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#second-navbar" aria-expanded="false" aria-controls="second-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>                
        </div>
        <div id="second-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a class="scroll-anchor" href="#fiche" title="Voir la fiche de {{ user.getFirstname }} {{ user.getSurname }}">Fiche</a></li>
                <li><a class="scroll-anchor" href="#groups" title="voir les groupes de {{ user.getFirstname }} {{ user.getSurname }}">Groupes</a></li>
                <li><a class="scroll-anchor" href="#events" title="Voir les sorties de {{ user.getFirstname }} {{ user.getSurname }}">Sorties</a></li>
                <li><a class="scroll-anchor" href="#photos" title="Voir les photos de {{ user.getFirstname }} {{ user.getSurname }}">Photos</a></li>
                <li><a class="scroll-anchor" href="#friends" title="Voir les amis de {{ user.getFirstname }} {{ user.getSurname }}">Amis</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-toggle="modal" data-target="#modal-wink" title="Envoyez un clin d'oeil à {{ user.getFirstname }} {{ user.getSurname }}">
                        <img class="menu-link-icon" src="{{asset('bundles/wybefrontoffice/images/icons/wink.png')}}"/> 
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#modalMessage" title="Envoyez un message à {{ user.getFirstname }} {{ user.getSurname }}">
                        <img class="menu-link-icon" src="{{asset('bundles/wybefrontoffice/images/icons/bubble-chat.png')}}"/>
                    </a>
                </li>
                
                {% if isFriend == 1 %}
                    <li>
                        <a href="#">
                            <img class="menu-link-icon" src="/unavent/web/bundles/wybefrontoffice/images/icons/check-white.png"/>
                        </a>
                    </li>
                {% elseif sendRequest == 0 %}              
                    <li>
                        <a href="#" data-toggle="modal" data-target="#modalAddFriend" title="Ajouter {{ user.getFirstname }} {{ user.getSurname }} comme ami">
                            <img class="menu-link-icon" src="{{asset('bundles/wybefrontoffice/images/icons/add-user.png')}}"/>
                        </a>
                    </li>
                {% endif %}

                <li>
                    <a class="back-top" href="#">
                        <span class="fa fa-caret-up"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>




{% include 'FlowberPrivateMessageBundle::partials/sendMessageToUser.html.twig' %} 
{% include 'FlowberPrivateMessageBundle::partials/sendWinkToUser.html.twig' %} 
{% include 'FlowberUserBundle::partials/modalAddFriend.html.twig' %} 
