<nav class="navbar navbar-default navbar-main navbar-sm navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#content-navbar-main" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('wybe_front_office_profile') }}">                  
                <span><img alt="Unavent Logo" src="{{asset('images/unavent/logos/unavent-logo-50-white.png')}}"></span>
                <span>UNAVENT</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="content-navbar-main">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><span class="glyphicon glyphicon-user menu-icon" aria-hidden="true"></span> Profil <span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-hover="dropdown" data-delay="1000" data-close-others="true">
                        <span class="glyphicon glyphicon-list menu-icon" aria-hidden="true"></span> Groupes
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li class="dropdown">  
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                        <span class="glyphicon glyphicon-apple menu-icon" aria-hidden="true"></span><span class="badge">4</span> <span>Evènements</span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <ul class="dropbown-menu-col">
                            <li><a tabindex="-1" href="#">My Account</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" href="#">Change Email</a></li>
                            <li><a tabindex="-1" href="#">Change Password</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" href="#">Logout</a></li>
                        </ul>
                        <ul class="dropbown-menu-col">
                            <li><a tabindex="-1" href="#">My Account</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" href="#">Change Email</a></li>
                            <li><a tabindex="-1" href="#">Change Password</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" href="#">Logout</a></li>
                        </ul>
                    </ul>
                </li>
            </ul>
            <!---->
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left menu-search" role="search">
                    <span class="glyphicon glyphicon-search icon-search" aria-hidden="true"></span>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Rechercher">
                    </div>                        
                </form>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-hover="dropdown" data-delay="1000" data-close-others="true">
                        <img class="menu-link-icon" src="{{asset('icons/40099-200-cogs.png')}}"/>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Paramètres</a></li>
                        <li><a href="{{ path('wybe_front_office_signin') }}">Se déconnecter</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img class="menu-link-icon" src="{{asset('icons/white-bell.png')}}"/>
                        <span class="caret"></span>
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
    
